<img src='otus.png'>

# Применение ансамблей моделей

https://statweb.stanford.edu/~jhf/ftp/trebst.pdf  
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3885826/  
Интерактив - http://arogozhnikov.github.io/2016/07/05/gradient_boosting_playground.html

http://xgboost.readthedocs.io/en/latest/  
http://xgboost.readthedocs.io/en/latest/model.html  
https://lightgbm.readthedocs.io/  
https://lightgbm.readthedocs.io/en/latest/    
https://tech.yandex.com/catboost/doc/dg/concepts/about-docpage/   
http://docs.h2o.ai/h2o/latest-stable/h2o-docs/data-science/gbm.html#defining-a-gbm-model

In [24]:
import time
import re
# from __future__ import print_function
from collections import defaultdict

import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import seaborn as sns

from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import make_union, make_pipeline
from sklearn.preprocessing import FunctionTransformer, StandardScaler, LabelEncoder, MinMaxScaler,  Imputer, LabelBinarizer, OneHotEncoder
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LogisticRegressionCV
from sklearn.metrics import accuracy_score
from sklearn.model_selection import RandomizedSearchCV

# Ансамбли


import xgboost as xgb
import lightgbm as lgb

%matplotlib inline
plt.rcParams["figure.figsize"] = (15, 8)
pd.options.display.float_format = '{:.2f}'.format

In [25]:
df_train = pd.read_csv("train.csv")
df_train.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.25,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,1,0,PC 17599,71.28,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.92,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.10,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.05,NaN,S
5,6,0,3,"Moran, Mr. James",male,nan,0,0,330877,8.46,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.00,0,0,17463,51.86,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.07,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0,2,347742,11.13,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,237736,30.07,NaN,C

In [26]:
df_test = pd.read_csv('test.csv')
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.50,0,0,330911,7.83,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.00,1,0,363272,7.00,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.00,0,0,240276,9.69,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.00,0,0,315154,8.66,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.00,1,1,3101298,12.29,NaN,S

In [27]:
# move target to the right
survived = df_train['Survived']
df_train.drop(labels=['Survived'], axis=1, inplace=True)
df_train['Survived'] = survived

In [28]:
class LabelEncoderPipelineFriendly(LabelEncoder):
    
    def fit(self, X, y=None):
        """this would allow us to fit the model based on the X input."""
        super(LabelEncoderPipelineFriendly, self).fit(X)
        
    def transform(self, X, y=None):
        return super(LabelEncoderPipelineFriendly, self).transform(X).reshape(-1, 1)

    def fit_transform(self, X, y=None):
        return super(LabelEncoderPipelineFriendly, self).fit(X).transform(X).reshape(-1, 1)
    

class FeaturesSum(BaseEstimator, TransformerMixin):
    
    def fit(self, X, y=None):
        return self
        
    def transform(self, X, y=None):
        return np.sum(X, axis=1).reshape(-1, 1)

    def fit_transform(self, X, y=None):
        return self.fit(X).transform(X)
    

class AgeFeature(BaseEstimator, TransformerMixin):
    # works with df only
    
    def fit(self, X, y=None):
        return self
        
    def transform(self, X, y=None):
        # sex, name
        X['Initial'] = 0
        for i in X:
            X['Initial'] = X.Name.str.extract('([A-Za-z]+)\.') #lets extract the Salutations
    
        X['Initial'].replace(
            ['Mlle','Mme','Ms','Dr','Major','Lady','Countess','Jonkheer','Col','Rev','Capt','Sir','Don'],
            ['Miss','Miss','Miss','Mr','Mr','Mrs','Mrs','Other','Other','Other','Mr','Mr','Mr'],
            inplace=True
        )
        X.groupby('Initial')['Age'].mean() # lets check the average age by Initials

        ## Assigning the NaN Values with the Ceil values of the mean ages
        X.loc[(X.Age.isnull()) & (X.Initial=='Mr'), 'Age'] = 33
        X.loc[(X.Age.isnull()) & (X.Initial=='Mrs'), 'Age'] = 36
        X.loc[(X.Age.isnull()) & (X.Initial=='Master'), 'Age'] = 5
        X.loc[(X.Age.isnull()) & (X.Initial=='Miss'), 'Age'] = 22
        X.loc[(X.Age.isnull()) & (X.Initial=='Other'), 'Age'] = 46
        return X['Age'].as_matrix().reshape(-1, 1)

    def fit_transform(self, X, y=None):
        return self.fit(X).transform(X)

In [29]:
import warnings
warnings.warn("deprecated", category=DeprecationWarning)
def get_sex_col(df):
    return df[['Sex']]

def get_age_name_cols(df):
    return df[['Age', 'Name']]

def get_pclass_col(df):
    return df[['Pclass']]

def get_sum_cols(df):
    return df[['Age', 'Fare']]

def get_num_cols(df):
    return df[['Fare', 'SibSp', 'Parch']]

vec = make_union(*[
    make_pipeline(FunctionTransformer(get_pclass_col, validate=False),  OneHotEncoder(sparse=False)),
    make_pipeline(FunctionTransformer(get_sex_col, validate=False),  LabelEncoderPipelineFriendly()),
    make_pipeline(FunctionTransformer(get_num_cols, validate=False), Imputer(strategy='mean'), MinMaxScaler()),
    make_pipeline(FunctionTransformer(get_age_name_cols, validate=False),  AgeFeature()),
])

/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: DeprecationWarning: deprecated

/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/sklearn/utils/deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [30]:
x_train = vec.fit_transform(df_train)
x_train.shape

/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:5890: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:51: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

(891, 8)

In [31]:
x_train

array([[ 0.        ,  0.        ,  1.        , ...,  0.125     ,
         0.        , 22.        ],
       [ 1.        ,  0.        ,  0.        , ...,  0.125     ,
         0.        , 38.        ],
       [ 0.        ,  0.        ,  1.        , ...,  0.        ,
         0.        , 26.        ],
       ...,
       [ 0.        ,  0.        ,  1.        , ...,  0.125     ,
         0.33333333, 22.        ],
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         0.        , 26.        ],
       [ 0.        ,  0.        ,  1.        , ...,  0.        ,
         0.        , 32.        ]])

In [32]:
y_train = df_train['Survived']
y_train.shape

(891,)

In [33]:
lr = LogisticRegressionCV(cv=10)
lr.fit(x_train, y_train)
lr

/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

LogisticRegressionCV(Cs=10, class_weight=None, cv=10, dual=False,
           fit_intercept=True, intercept_scaling=1.0, max_iter=100,
           multi_class='warn', n_jobs=None, penalty='l2',
           random_state=None, refit=True, scoring=None, solver='lbfgs',
           tol=0.0001, verbose=0)

In [34]:
accuracy_score(y_train, lr.predict(x_train))

0.8035914702581369

# Применение модели

In [35]:
def apply_model(model, submission_name):
    x_test = vec.fit_transform(df_test) 
    print('shape of x_test is {}'.format(x_test.shape))
    y_test = model.predict(x_test)
    print('shape of y_test is {}'.format(y_test.shape))
    df_predicted = pd.DataFrame({'PassengerId': df_test['PassengerId'], 'Survived': y_test})
    df_predicted.to_csv(submission_name + '.csv', sep=',', index=False)

In [36]:
apply_model(lr, 'linear_regression_cv')

/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:5890: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:51: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

shape of x_test is (418, 8)
shape of y_test is (418,)

# Обучение ансамблей

In [59]:
def randomized_cv(model, param_grid, x_train=x_train, y_train=y_train):
    grid_search = RandomizedSearchCV(model, param_grid, cv=5, scoring='accuracy')
    t_start = time.time()
    grid_search.fit(x_train, y_train)
    t_end = time.time()
    print('model {} best accuracy score is {}'.format(model.__class__.__name__, grid_search.best_score_))
    print('time for training is {} seconds'.format(t_end - t_start))
    print(grid_search.best_score_)
    return grid_search.best_estimator_

# XGBoost

In [38]:
import xgboost as xgb

param_grid = {
    'max_depth': [2, 3, 4],
    'n_estimators': [50, 100],
    'learning_rate': [0.01, 0.025]
}
xgb = randomized_cv(xgb.XGBClassifier(), param_grid)

model XGBClassifier best accuracy score is 0.8237934904601572
time for training is 2.901031255722046 seconds
0.8237934904601572

https://www.kaggle.com/cbrogan/xgboost-example-python

In [39]:
apply_model(xgb, 'xgb_cv')

/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:5890: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:51: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

shape of x_test is (418, 8)
shape of y_test is (418,)

Особенности XGBoost
* есть регуляризация
* распараллеливание
* возможность кастомизации
* обработка отсуствующих значений
* встроенная кросс-валидация
* возможность архивировать и восстанавливать модель

# LightGBM

In [40]:
import lightgbm as lgb

param_grid = {
    'max_depth': [2, 3, 4, 5],
    'n_estimators': [50, 100, 150, 200],
    'learning_rate': [0.01, 0.02, 0.05]
}
model = randomized_cv(lgb.LGBMClassifier(), param_grid)

model LGBMClassifier best accuracy score is 0.8294051627384961
time for training is 1.9023396968841553 seconds
0.8294051627384961

In [41]:
apply_model(model, 'lgb_cv')

/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:5890: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:51: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

shape of x_test is (418, 8)
shape of y_test is (418,)

Особенности

* использование гистограмм для всех признаков (уже тоже есть в xgboost)
* то же самое, но быстрее (см выше)

# H2O GBM

In [42]:
import h2o
import numpy as np
import math
from h2o.estimators.gbm import H2OGradientBoostingEstimator
from h2o.grid.grid_search import H2OGridSearch
h2o.init(nthreads=-1, strict_version_check=True)

Checking whether there is an H2O instance running at http://localhost:54321..... not found.
Attempting to start a local H2O server...
  Java Version: java version "1.8.0_151"; Java(TM) SE Runtime Environment (build 1.8.0_151-b12); Java HotSpot(TM) 64-Bit Server VM (build 25.151-b12, mixed mode)
  Starting server from /Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /var/folders/j0/tdm6bt912n17kg911htf1_wh0000gn/T/tmpc58psycq
  JVM stdout: /var/folders/j0/tdm6bt912n17kg911htf1_wh0000gn/T/tmpc58psycq/h2o_nazhmeddinbabakhanov_started_from_python.out
  JVM stderr: /var/folders/j0/tdm6bt912n17kg911htf1_wh0000gn/T/tmpc58psycq/h2o_nazhmeddinbabakhanov_started_from_python.err
  Server is running at http://127.0.0.1:54331
Connecting to H2O server at http://127.0.0.1:54331...................... failed.

H2OConnectionError: Could not establish link to the H2O cloud http://127.0.0.1:54331 after 20 retries
[55:23.04] H2OConnectionError: Unexpected HTTP error: HTTPConnectionPool(host='192.168.49.1', port=8081): Max retries exceeded with url: http://127.0.0.1:54331/3/Cloud (Caused by ConnectTimeoutError(<urllib3.connection.HTTPConnection object at 0x1a22665550>, 'Connection to 192.168.49.1 timed out. (connect timeout=3.0)'))
[55:26.25] H2OConnectionError: Unexpected HTTP error: HTTPConnectionPool(host='192.168.49.1', port=8081): Max retries exceeded with url: http://127.0.0.1:54331/3/Cloud (Caused by ConnectTimeoutError(<urllib3.connection.HTTPConnection object at 0x1a22665588>, 'Connection to 192.168.49.1 timed out. (connect timeout=3.0)'))
[55:29.46] H2OConnectionError: Unexpected HTTP error: HTTPConnectionPool(host='192.168.49.1', port=8081): Max retries exceeded with url: http://127.0.0.1:54331/3/Cloud (Caused by ConnectTimeoutError(<urllib3.connection.HTTPConnection object at 0x1a2264f710>, 'Connection to 192.168.49.1 timed out. (connect timeout=3.0)'))
[55:32.68] H2OConnectionError: Unexpected HTTP error: HTTPConnectionPool(host='192.168.49.1', port=8081): Max retries exceeded with url: http://127.0.0.1:54331/3/Cloud (Caused by ConnectTimeoutError(<urllib3.connection.HTTPConnection object at 0x1a2264ff60>, 'Connection to 192.168.49.1 timed out. (connect timeout=3.0)'))
[55:35.89] H2OConnectionError: Unexpected HTTP error: HTTPConnectionPool(host='192.168.49.1', port=8081): Max retries exceeded with url: http://127.0.0.1:54331/3/Cloud (Caused by ConnectTimeoutError(<urllib3.connection.HTTPConnection object at 0x1a2260ac50>, 'Connection to 192.168.49.1 timed out. (connect timeout=3.0)'))
[55:39.10] H2OConnectionError: Unexpected HTTP error: HTTPConnectionPool(host='192.168.49.1', port=8081): Max retries exceeded with url: http://127.0.0.1:54331/3/Cloud (Caused by ConnectTimeoutError(<urllib3.connection.HTTPConnection object at 0x1a22665320>, 'Connection to 192.168.49.1 timed out. (connect timeout=3.0)'))
[55:42.32] H2OConnectionError: Unexpected HTTP error: HTTPConnectionPool(host='192.168.49.1', port=8081): Max retries exceeded with url: http://127.0.0.1:54331/3/Cloud (Caused by ConnectTimeoutError(<urllib3.connection.HTTPConnection object at 0x1a22665898>, 'Connection to 192.168.49.1 timed out. (connect timeout=3.0)'))
[55:45.53] H2OConnectionError: Unexpected HTTP error: HTTPConnectionPool(host='192.168.49.1', port=8081): Max retries exceeded with url: http://127.0.0.1:54331/3/Cloud (Caused by ConnectTimeoutError(<urllib3.connection.HTTPConnection object at 0x1a2264fb38>, 'Connection to 192.168.49.1 timed out. (connect timeout=3.0)'))
[55:48.75] H2OConnectionError: Unexpected HTTP error: HTTPConnectionPool(host='192.168.49.1', port=8081): Max retries exceeded with url: http://127.0.0.1:54331/3/Cloud (Caused by ConnectTimeoutError(<urllib3.connection.HTTPConnection object at 0x1a2264fe10>, 'Connection to 192.168.49.1 timed out. (connect timeout=3.0)'))
[55:51.96] H2OConnectionError: Unexpected HTTP error: HTTPConnectionPool(host='192.168.49.1', port=8081): Max retries exceeded with url: http://127.0.0.1:54331/3/Cloud (Caused by ConnectTimeoutError(<urllib3.connection.HTTPConnection object at 0x1061deb70>, 'Connection to 192.168.49.1 timed out. (connect timeout=3.0)'))
[55:55.18] H2OConnectionError: Unexpected HTTP error: HTTPConnectionPool(host='192.168.49.1', port=8081): Max retries exceeded with url: http://127.0.0.1:54331/3/Cloud (Caused by ConnectTimeoutError(<urllib3.connection.HTTPConnection object at 0x1a2260a2e8>, 'Connection to 192.168.49.1 timed out. (connect timeout=3.0)'))
[55:58.40] H2OConnectionError: Unexpected HTTP error: HTTPConnectionPool(host='192.168.49.1', port=8081): Max retries exceeded with url: http://127.0.0.1:54331/3/Cloud (Caused by ConnectTimeoutError(<urllib3.connection.HTTPConnection object at 0x1a21ce8128>, 'Connection to 192.168.49.1 timed out. (connect timeout=3.0)'))
[56:01.62] H2OConnectionError: Unexpected HTTP error: HTTPConnectionPool(host='192.168.49.1', port=8081): Max retries exceeded with url: http://127.0.0.1:54331/3/Cloud (Caused by ConnectTimeoutError(<urllib3.connection.HTTPConnection object at 0x1a147c60f0>, 'Connection to 192.168.49.1 timed out. (connect timeout=3.0)'))
[56:04.84] H2OConnectionError: Unexpected HTTP error: HTTPConnectionPool(host='192.168.49.1', port=8081): Max retries exceeded with url: http://127.0.0.1:54331/3/Cloud (Caused by ConnectTimeoutError(<urllib3.connection.HTTPConnection object at 0x1a2264f390>, 'Connection to 192.168.49.1 timed out. (connect timeout=3.0)'))
[56:08.05] H2OConnectionError: Unexpected HTTP error: HTTPConnectionPool(host='192.168.49.1', port=8081): Max retries exceeded with url: http://127.0.0.1:54331/3/Cloud (Caused by ConnectTimeoutError(<urllib3.connection.HTTPConnection object at 0x1a22608f28>, 'Connection to 192.168.49.1 timed out. (connect timeout=3.0)'))
[56:11.27] H2OConnectionError: Unexpected HTTP error: HTTPConnectionPool(host='192.168.49.1', port=8081): Max retries exceeded with url: http://127.0.0.1:54331/3/Cloud (Caused by ConnectTimeoutError(<urllib3.connection.HTTPConnection object at 0x1a2260aac8>, 'Connection to 192.168.49.1 timed out. (connect timeout=3.0)'))
[56:14.48] H2OConnectionError: Unexpected HTTP error: HTTPConnectionPool(host='192.168.49.1', port=8081): Max retries exceeded with url: http://127.0.0.1:54331/3/Cloud (Caused by ConnectTimeoutError(<urllib3.connection.HTTPConnection object at 0x1a22665278>, 'Connection to 192.168.49.1 timed out. (connect timeout=3.0)'))
[56:17.69] H2OConnectionError: Unexpected HTTP error: HTTPConnectionPool(host='192.168.49.1', port=8081): Max retries exceeded with url: http://127.0.0.1:54331/3/Cloud (Caused by ConnectTimeoutError(<urllib3.connection.HTTPConnection object at 0x1a21ce8198>, 'Connection to 192.168.49.1 timed out. (connect timeout=3.0)'))
[56:20.91] H2OConnectionError: Unexpected HTTP error: HTTPConnectionPool(host='192.168.49.1', port=8081): Max retries exceeded with url: http://127.0.0.1:54331/3/Cloud (Caused by ConnectTimeoutError(<urllib3.connection.HTTPConnection object at 0x1a22665518>, 'Connection to 192.168.49.1 timed out. (connect timeout=3.0)'))
[56:24.13] H2OConnectionError: Unexpected HTTP error: HTTPConnectionPool(host='192.168.49.1', port=8081): Max retries exceeded with url: http://127.0.0.1:54331/3/Cloud (Caused by ConnectTimeoutError(<urllib3.connection.HTTPConnection object at 0x106fdc908>, 'Connection to 192.168.49.1 timed out. (connect timeout=3.0)'))

In [ ]:
data = np.c_[x_train, y_train]
data = pd.DataFrame(data, columns=['C{}'.format(idx + 1) for idx in range(data.shape[-1])])

train_df_h2o = h2o.H2OFrame(python_obj=data)
train_df_h2o['C9'] = train_df_h2o['C9'].asfactor()

train_df_h2o.show()

In [ ]:
print(train_df_h2o['C9'].shape)

In [ ]:
x_test = vec.fit_transform(df_test)
data_test = pd.DataFrame(x_test, columns=['C{}'.format(idx + 1) for idx in range(x_test.shape[-1])])

test_df_h2o = h2o.H2OFrame(python_obj=data_test)
test_df_h2o.show()

In [ ]:
data.info()

In [ ]:
gbm = H2OGradientBoostingEstimator()
gbm.train(x=['C{}'.format(idx + 1) for idx in range(data.shape[-1] - 1)], y='C9', training_frame=train_df_h2o)
print(gbm)

In [ ]:
['C{}'.format(idx + 1) for idx in range(data.shape[-1] - 1)]

In [ ]:
## Depth 10 is usually plenty of depth for most datasets, but you never know
hyper_params = {'max_depth': [3, 5, 7, 9, 12]}
# hyper_params = {'max_depth' : [4,6,8,12,16,20]} ##faster for larger datasets

#Build initial GBM Model
gbm_grid = H2OGradientBoostingEstimator(
        ## more trees is better if the learning rate is small enough 
        ## here, use "more than enough" trees - we have early stopping
        ntrees=10000,
        ## smaller learning rate is better
        ## since we have learning_rate_annealing, we can afford to start with a 
        #bigger learning rate
        learn_rate=0.05,
        ## learning rate annealing: learning_rate shrinks by 1% after every tree 
        ## (use 1.00 to disable, but then lower the learning_rate)
        learn_rate_annealing = 0.99,
        ## sample 80% of rows per tree
        sample_rate = 0.8,
        ## sample 80% of columns per split
        col_sample_rate = 0.8,
        ## fix a random number generator seed for reproducibility
        seed = 1234,
        score_each_iteration=True,
        ## score every 10 trees to make early stopping reproducible 
        #(it depends on the scoring interval)
        score_tree_interval = 10, 
        ## early stopping once the validation AUC doesn't improve by at least 0.01% for 
        #5 consecutive scoring events
         stopping_rounds = 5,
#          stopping_metric = "auc",
         stopping_tolerance = 1e-4
)

#Build grid search with previously made GBM and hyper parameters
grid = H2OGridSearch(gbm_grid, hyper_params,
#                          grid_id = 'depth_grid',
                         search_criteria = {'strategy': "RandomDiscrete"})

In [ ]:
#Train grid search
grid.train(x=['C{}'.format(idx + 1) for idx in range(data.shape[-1] - 1)], y='C9', training_frame=train_df_h2o)

In [ ]:
print(grid)

In [ ]:
best_model = h2o.get_model(grid.sorted_metric_table()['model_ids'][0])
best_model

In [ ]:
#

In [ ]:
preds = best_model.predict(test_df_h2o)
preds.head()

In [ ]:
pred_df = preds.as_data_frame()

submit = pd.DataFrame()
submit['PassengerId'] = df_test['PassengerId']
submit['Survived'] = pred_df['predict']
submit.to_csv('h2o.csv', sep=',', index=False)

# CatBoost

https://tech.yandex.com/catboost/doc/dg/concepts/algorithm-main-stages_cat-to-numberic-docpage/  
https://arxiv.org/pdf/1706.09516.pdf

In [ ]:
from catboost import CatBoostClassifier
param_grid = {
    'iterations': [2, 3, 4, 5],
    'depth': [2, 3, 4, 5],
    'learning_rate': [1, 0.1, 0.01, 0.001]
}
cbm = randomized_cv(CatBoostClassifier(), param_grid)

Параметры модели

https://tech.yandex.com/catboost/doc/dg/concepts/python-reference_parameters-list-docpage/

Настройка параметров

https://tech.yandex.com/catboost/doc/dg/concepts/parameter-tuning-docpage/

Особенности

* уменьшено (?) переобучение
* умеет обрабатывать категориальные признаки
* большое количество визуализаций
* работает лучше по бенчмаркам (но дольше)

# Подбор гиперпараметров. Общий подход.

* выбрать относительно высокий learning_rate (например, 0.05 - 0.2)
* определить необходимое количество деревьев для исключения проблема недообучения и переобучения - поставить побольше и выбрать такое, где ошибка на валидации начинает расти
* зафиксировать параметры из предыдущих пунктов и настроить параметры, связанные с деревьями.
* зафиксировать параметры деревьев и дополнительно настроить learning_rate и количество деревьев

Основные параметры, связанные с бустингом

* learning_rate
* n_estimators
* subsample
* loss

Основные параметры, связанные с деревьями

* max_depth
* max_features
* min_samples_split
* min_samples_leaf
* max_leaf_nodes
* ...

# https://www.kaggle.com/c/home-credit-default-risk/data

In [43]:

train = "application_train.csv"
test = "application_test.csv"

In [44]:
df = pd.read_csv(train)

In [46]:
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.00,406597.50,24700.50,...,0,0,0,0,0.00,0.00,0.00,0.00,0.00,1.00
1,100003,0,Cash loans,F,N,N,0,270000.00,1293502.50,35698.50,...,0,0,0,0,0.00,0.00,0.00,0.00,0.00,0.00
2,100004,0,Revolving loans,M,Y,Y,0,67500.00,135000.00,6750.00,...,0,0,0,0,0.00,0.00,0.00,0.00,0.00,0.00
3,100006,0,Cash loans,F,N,Y,0,135000.00,312682.50,29686.50,...,0,0,0,0,nan,nan,nan,nan,nan,nan
4,100007,0,Cash loans,M,N,Y,0,121500.00,513000.00,21865.50,...,0,0,0,0,0.00,0.00,0.00,0.00,0.00,0.00

In [94]:
y = df['TARGET']
y

0         1
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        0
22        0
23        0
24        0
25        0
26        1
27        0
28        0
29        0
         ..
307481    1
307482    0
307483    0
307484    0
307485    0
307486    0
307487    0
307488    0
307489    1
307490    0
307491    0
307492    0
307493    0
307494    0
307495    0
307496    0
307497    0
307498    0
307499    0
307500    0
307501    0
307502    0
307503    0
307504    0
307505    0
307506    0
307507    0
307508    0
307509    1
307510    0
Name: TARGET, Length: 307511, dtype: int64

In [48]:
columns = list(df.columns.values)
columns.remove('SK_ID_CURR')
columns.remove('TARGET')

In [49]:
columns

['NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'OWN_CAR_AGE',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'OCCUPATION_TYPE',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'WEEKDAY_APPR_PROCESS_START',
 'HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'EXT_SOURCE_1',
 'EXT_SOURCE_2',
 'EXT_SOURCE_3',
 'APARTMENTS_AVG',
 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BUILD_AVG',
 'COMMONAREA_AVG',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'FLOORSMAX_AVG',
 'FLOORSMIN_AVG',
 'LANDAREA_AVG',
 'LIVINGAPARTMENTS_AVG',
 'LIVINGAREA_AVG',
 'NONLIVINGAPARTMENTS_AVG',
 'NONLIVINGAREA_AVG',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'YEARS_BUILD_MODE',
 'COMMONAREA_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'FLOORSMIN_MODE',
 'LANDAREA_MODE',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'FLOORSMIN_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAREA_MEDI',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'TOTALAREA_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR']

In [62]:
x = df[columns]

In [63]:
y.unique()

array([1, 0])

In [64]:
pd.set_option('display.max_columns', 500)
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.00,406597.50,24700.50,351000.00,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.02,-9461,-637,-3648.00,-2120,nan,1,1,0,1,1,0,Laborers,1.00,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.08,0.26,0.14,0.02,0.04,0.97,0.62,0.01,0.00,0.07,0.08,0.12,0.04,0.02,0.02,0.00,0.00,0.03,0.04,0.97,0.63,0.01,0.00,0.07,0.08,0.12,0.04,0.02,0.02,0.00,0.00,0.03,0.04,0.97,0.62,0.01,0.00,0.07,0.08,0.12,0.04,0.02,0.02,0.00,0.00,reg oper account,block of flats,0.01,"Stone, brick",No,2.00,2.00,2.00,2.00,-1134.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,1.00
1,100003,0,Cash loans,F,N,N,0,270000.00,1293502.50,35698.50,1129500.00,Family,State servant,Higher education,Married,House / apartment,0.00,-16765,-1188,-1186.00,-291,nan,1,1,0,1,1,0,Core staff,2.00,1,1,MONDAY,11,0,0,0,0,0,0,School,0.31,0.62,nan,0.10,0.05,0.99,0.80,0.06,0.08,0.03,0.29,0.33,0.01,0.08,0.05,0.00,0.01,0.09,0.05,0.99,0.80,0.05,0.08,0.03,0.29,0.33,0.01,0.08,0.06,0.00,0.00,0.10,0.05,0.99,0.80,0.06,0.08,0.03,0.29,0.33,0.01,0.08,0.06,0.00,0.01,reg oper account,block of flats,0.07,Block,No,1.00,0.00,1.00,0.00,-828.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,0.00
2,100004,0,Revolving loans,M,Y,Y,0,67500.00,135000.00,6750.00,135000.00,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.01,-19046,-225,-4260.00,-2531,26.00,1,1,1,1,1,0,Laborers,1.00,2,2,MONDAY,9,0,0,0,0,0,0,Government,nan,0.56,0.73,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.00,0.00,0.00,0.00,-815.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,0.00
3,100006,0,Cash loans,F,N,Y,0,135000.00,312682.50,29686.50,297000.00,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.01,-19005,-3039,-9833.00,-2437,nan,1,1,0,1,0,0,Laborers,2.00,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,nan,0.65,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,2.00,0.00,2.00,0.00,-617.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan,nan,nan,nan,nan
4,100007,0,Cash loans,M,N,Y,0,121500.00,513000.00,21865.50,513000.00,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.03,-19932,-3038,-4311.00,-3458,nan,1,1,0,1,0,0,Core staff,1.00,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,nan,0.32,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.00,0.00,0.00,0.00,-1106.00,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,0.00

In [65]:
categorical = ['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE']

In [67]:
x

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,Cash loans,M,N,Y,0,202500.00,406597.50,24700.50,351000.00,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.02,-9461,-637,-3648.00,-2120,nan,1,1,0,1,1,0,Laborers,1.00,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.08,0.26,0.14,0.02,0.04,0.97,0.62,0.01,0.00,0.07,0.08,0.12,0.04,0.02,0.02,0.00,0.00,0.03,0.04,0.97,0.63,0.01,0.00,0.07,0.08,0.12,0.04,0.02,0.02,0.00,0.00,0.03,0.04,0.97,0.62,0.01,0.00,0.07,0.08,0.12,0.04,0.02,0.02,0.00,0.00,reg oper account,block of flats,0.01,"Stone, brick",No,2.00,2.00,2.00,2.00,-1134.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,1.00
1,Cash loans,F,N,N,0,270000.00,1293502.50,35698.50,1129500.00,Family,State servant,Higher education,Married,House / apartment,0.00,-16765,-1188,-1186.00,-291,nan,1,1,0,1,1,0,Core staff,2.00,1,1,MONDAY,11,0,0,0,0,0,0,School,0.31,0.62,nan,0.10,0.05,0.99,0.80,0.06,0.08,0.03,0.29,0.33,0.01,0.08,0.05,0.00,0.01,0.09,0.05,0.99,0.80,0.05,0.08,0.03,0.29,0.33,0.01,0.08,0.06,0.00,0.00,0.10,0.05,0.99,0.80,0.06,0.08,0.03,0.29,0.33,0.01,0.08,0.06,0.00,0.01,reg oper account,block of flats,0.07,Block,No,1.00,0.00,1.00,0.00,-828.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,0.00
2,Revolving loans,M,Y,Y,0,67500.00,135000.00,6750.00,135000.00,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.01,-19046,-225,-4260.00,-2531,26.00,1,1,1,1,1,0,Laborers,1.00,2,2,MONDAY,9,0,0,0,0,0,0,Government,nan,0.56,0.73,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.00,0.00,0.00,0.00,-815.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,0.00
3,Cash loans,F,N,Y,0,135000.00,312682.50,29686.50,297000.00,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.01,-19005,-3039,-9833.00,-2437,nan,1,1,0,1,0,0,Laborers,2.00,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,nan,0.65,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,2.00,0.00,2.00,0.00,-617.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan,nan,nan,nan,nan
4,Cash loans,M,N,Y,0,121500.00,513000.00,21865.50,513000.00,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.03,-19932,-3038,-4311.00,-3458,nan,1,1,0,1,0,0,Core staff,1.00,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,nan,0.32,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.00,0.00,0.00,0.00,-1106.00,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,0.00
5,Cash loans,M,N,Y,0,99000.00,490495.50,27517.50,454500.00,"Spouse, partner",State servant,Secondary / secondary special,Married,House / apartment,0.04,-16941,-1588,-4970.00,-477,nan,1,1,1,1,1,0,Laborers,2.00,2,2,WEDNESDAY,16,0,0,0,0,0,0,Other,nan,0.35,0.62,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.00,0.00,0.00,0.00,-2536.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,1.00,1.00
6,Cash loans,F,Y,Y,1,171000.00,1560726.00,41301.00,1395000.00,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,0.04,-13778,-3130,-1213.00,-619,17.00,1,1,0,1,1,0,Accountants,3.00,2,2,SUNDAY,16,0,0,0,0,0,0,Business Entity Type 3,0.77,0.72,0.49,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,1.00,0.00,1.00,0.00,-1562.00,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0.00,0.00,0.00,1.00,1.00,2.00
7,Cash loans,M,Y,Y,0,360000.00,1530000.00,42075.00,1530000.00,Unaccompanied,State servant,Higher education,Married,House / apartment,0.00,-18850,-449,-4597.00,-2379,8.00,1,1,1,1,0,0,Managers,2.00,3,3,MONDAY,16,0,0,0,0,1,1,Other,nan,0.71,0.54,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,2.00,0.00,2.00,0.00,-1070.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,0.00
8,Cash loans,F,N,Y,0,112500.00,1019610.00,33826.50,913500.00,Children,Pensioner,Secondary / secondary special,Married,House / apartment,0.02,-20099,365243,-7427.00,-3514,nan,1,0,0,1,0,0,NaN,2.00,2,2,WEDNESDAY,14,0,0,0,0,0,0,XNA,0.59,0.21,0.75,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,1.00,0.00,1.00,0.00,0.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,1.00
9,Revolving loans,M,N,Y,0,135000.00,405000.00,20250.00,405000.00,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.02,-14469,-2019,-14437.00,-3992,nan,1,1,0,1,0,0,Laborers,1.00,2,2,THURSDAY,8,0,0,0,0,0,0,Electricity,nan,0.75,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,2.00,0.00,2.00,0.00,-1673.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan,nan,nan,nan,nan
10,Cash loans,F,N,Y,1,112500.00,652500.00,21177.00,652500.00,Unaccompanied,Working,Higher education,Married,House / apartment,0.02,-10197,-679,-4427.00,-738,nan,1,1,0,1,0,0,Core staff,3.00,2,2,SATURDAY,15,0,0,0,0,0,0,Medicine,0.32,0.65,0.36,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.00,0.00,0.00,0.00,-844.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,1.00,0.00,0.00
11,Cash loans,F,N,Y,0,38419.15,148365.00,10678.50,135000.00,Children,Pensioner,Secondary / secondary special,Married,House / apartment,0.02,-20417,365243,-5246.00,-2512,nan,1,0,0,1,1,0,NaN,2.00,2,2,FRIDAY,7,0,0,0,0,0,0,XNA,0.72,0.56,0.65,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.00,0.00,0.00,0.00,-2396.00,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,2.00
12,Cash loans,F,N,Y,0,67500.00,80865.00,5881.50,67500.00,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.03,-13439,-2717,-311.00,-3227,nan,1,1,1,1,1,0,Laborers,2.00,2,2,FRIDAY,10,0,0,0,0,0,0,Business Entity Type 2,0.46,0.72,0.18,0.08,nan,0.98,nan,nan,0.00,0.21,0.17,nan,0.01,nan,0.08,nan,0.00,0.08,nan,0.98,nan,nan,0.00,0.21,0.17,nan,0.01,nan,0.08,nan,0.00,0.08,nan,0.98,nan,nan,0.00,0.21,0.17,nan,0.01,nan,0.08,nan,0.00,reg oper account,block of flats,0.06,NaN,No,0.00,0.00,0.00,0.00,-2370.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,1.00,0.00,0.00
13,Cash loans,M,Y,N,1,225000.00,918468.00,28966.50,697500.00,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.02,-14086,-3028,-643.00,-4911,23.00,1,1,0,1,0,0,Drivers,3.00,2,2,THURSDAY,13,0,0,0,0,0,0,Self-employed,nan,0.57,0.77,0.15,0.10,0.98,0.73,0.06,0.16,0.14,0.33,0.38,0.09,0.12,0.14,0.00,0.00,0.15,0.10,0.98,0.75,0.06,0.16,0.14,0.33,0.38,0.10,0.13,0.15,0.00,0.00,0.15,0.10,0.98,0.74,0.06,0.16,0.14,0.33,0.38,0.09,0.12,0.14,0.00,0.00,reg oper account,block of flats,0.14,Panel,No,0.00,0.00,0.00,0.00,-4.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,1.00
14,Cash loans,F,N,Y,0,189000.00,773680.50,32778.00,679500.00,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.01,-14583,-203,-615.00,-2056,nan,1,1,0,1,0,0,Laborers,2.00,2,1,MONDAY,9,0,0,0,0,0,0,Transport: type 2,0.72,0.64,nan,0.35,0.13,1.00,0.98,0.11,0.40,0.17,0.67,0.71,0.18,0.28,0.38,0.02,0.10,0.36,0.14,1.00,0.98,0.12,0.40,0.17,0.67,0.71,0.18,0.31,0.39,0.02,0.11,0.35,0.13,1.00,0.98,0.12,0.40,0.17,0.67,0.71,0.18,0.29,0.38,0.02,0.10,reg oper account,block of flats,0.38,Panel,No,0.00,0.00,0.00,0.00,-188.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan,nan,nan,nan,nan
15,Cash loans,M,Y,Y,0,157500.00,299772.00,20160.00,247500.00,Family,Working,Secondary / secondary special,Single / not married,Rented apartment,0.02,-8728,-1157,-3494.00,-1368,17.00,1,1,0,1,0,0,Laborers,1.00,3,3,SATURDAY,6,0,0,0,1,1,0,Business Entity Type 2,0.12,0.35,0.68,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.00,0.00,0.00,0.00,-925.00,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,1.00
16,Cash loans,M,N,N,0,108000.00,509602.50,26149.50,387000.00,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.02,-12931,-1317,-6392.00,-3866,nan,1,1,0,1,0,0,Drivers,2.00,2,2,THURSDAY,12,0,0,0,1,1,0,Government,nan,0.24,0.06,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.00,0.00,0.00,0.00,-3.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,1.00,0.00
17,Revolving loans,F,N,Y,1,81000.00,270000.00,13500.00,270000.00,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.01,-9776,-191,-4143.00,-2427,nan,1,1,0,1,0,0,Laborers,3.00,2,2,MONDAY,10,0,0,0,1,1,0,Construction,nan,0.68,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,4.00,0.00,4.00,0.00,-2811.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan,nan,nan,nan,nan
18,Revolving loans,F,N,Y,0,112500.00,157500.00,7875.00,157500.00,Other_A,Working,Secondary / secondary special,Widow,House / apartment,0.05,-17718,-7804,-8751.00,-1259,nan,1,1,0,1,1,0,Laborers,1.00,1,1,FRIDAY,13,0,0,0,0,0,0,Housing,nan,0.71,0.56,0.03,0.06,0.99,0.84,0.00,0.00,0.10,0.08,0.12,0.03,0.02,0.03,0.00,0.00,0.03,0.06,0.99,0.84,0.00,0.00,0.10,0.08,0.12,0.03,0.02,0.03,0.00,0.00,0.03,0.06,0.99,0.84,0.00,0.00,0.10,0.08,0.12,0.03,0.02,0.03,0.00,0.00,reg oper account,block of flats,0.02,"Stone, brick",No,8.00,0.00,8.00,0.00,-239.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,0.00
19,Cash loans,F,N,Y,1,90000.00,544491.00,17563.50,454500.00,Unaccompanied,State servant,Higher education,Single / not married,House / apartment,0.02,-11348,-2038,-1021.00,-3964,nan,1,1,1,1,1,0,Core staff,2.00,2,2,MONDAY,12,0,0,0,0,0,0,Kindergarten,nan,0.59,0.48,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.00,0.00,0.00,0.00,-1850.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,2.00
20,Revolving loans,M,Y,Y,0,135000.00,427500.00,21375.00,427500.00,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.02,-18252,-4286,-298.00,-1800,7.00,1,1,0,1,0,0,Laborers,2.00,2,2,FRIDAY,13,0,0,0,0,0,0,Self-employed,0.57,0.11,nan,0.07,0.08,0.98,0.70,nan,0.00,0.14,0.17,0.04,0.05,0.06,0.06,0.00,0.00,0.07,0.08,0.98,0.71,nan,0.00,0.14,0.17,0.04,0.05,0.06,0.06,0.00,0.00,0.07,0.08,0.98,0.70,nan,0.00,0.14,0.17,0.04,0.05,0.06,0.06,0.00,0.00,reg oper account,block of flats,0.05,"Stone, brick",No,0.00,0.00,0.00,0.00,-296.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan,nan,nan,nan,nan
21,Cash loans,F,Y,Y,1,202500.00,1132573.50,37561.50,927000.00,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.03,-14815,-1652,-2299.00,-2299,14.00,1,1,0,1,0,0,Sales staff,3.00,2,2,MONDAY,9,0,0,0,0,0,0,Trade: type 7,0.44,0.23,0.54,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.00,0.00,0.00,0.00,0.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,1.00,4.00
22,Cash loans,F,N,N,1,450000.00,497520.00,32521.50,450000.00,Unaccompanied,Working,Secondary / secondary special,Married,Rented apartment,0.02,-11146,-4306,-114.00,-2518,nan,1,1,0,1,0,0,Sales staff,3.00,3,2,THURSDAY,6,0,0,0,0,0,0,Self-employed,nan,0.46,0.36,0.09,0.08,0.98,0.71,0.01,0.00,0.21,0.17,0.21,0.09,0.07,0.09,0.01,0.00,0.09,0.08,0.98,0.72,0.01,0.00,0.21,0.17,0.21,0.09,0.08,0.09,0.01,0.00,0.09,0.08,0.98,0.71,0.01,0.00,0.21,0.17,0.21,0.09,0.07,0.09,0.01,0.00,reg oper account,block of flats,0.07,Panel,No,0.00,0.00,0.00,0.00,-468.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,5.00
23,Cash loans,F,N,Y,0,83250.00,239850.00,23850.00,225000.00,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.01,-24827,365243,-9012.00,-3684,nan,1,0,0,1,1,0,NaN,2.00,3,3,FRIDAY,12,0,0,0,0,0,0,XNA,nan,0.62,0.67,0.14,0.08,0.99,0.83,0.11,0.14,0.12,0.38,0.42,0.24,0.12,0.15,0.00,0.00,0.13,0.08,0.99,0.84,0.00,0.12,0.10,0.38,0.42,0.24,0.11,0.09,0.00,0.00,0.15,0.08,0.99,0.83,0.11,0.14,0.12,0.38,0.42,0.24,0.12,0.15,0.00,0.00,org spec account,block of flats,0.16,Mixed,No,0.00,0.00,0.00,0.00,-795.00,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,3.00
24,Cash loans,M,Y,N,2,135000.00,247500.00,12703.50,247500.00,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.03,-11286,-746,-108.00,-3729,7.00,1,1,0,1,0,0,Drivers,4.00,2,2,THURSDAY,14,0,0,0,0,1,1,Business Entity Type 3,nan,0.79,0.57,0.14,0.15,0.99,0.81,0.02,0.00,0.31,0.17,0.21,0.09,0.12,0.12,0.00,0.00,0.15,0.15,0.99,0.82,0.02,0.00,0.31,0.17,0.21,0.09,0.13,0.13,0.00,0.00,0.14,0.15,0.99,0.81,0.02,0.00,0.31,0.17,0.21,0.09,0.12,0.12,0.00,0.00,reg oper account,block of flats,0.10,Panel,No,1.00,1.00,1.00,0.00,-4.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,0.00
25,Cash loans,F,N,Y,0,90000.00,225000.00,11074.50,225000.00,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.03,-19334,-3494,-2419.00,-2893,nan,1,1,0,1,1,0,Cleaning staff,2.00,2,2,SATURDAY,8,0,0,0,0,0,0,Business Entity Type 3,0.56,0.65,0.46,0.07,0.01,0.98,0.70,0.00,0.00,0.14,0.17,0.04,0.05,0.06,0.07,0.00,0.00,0.07,0.02,0.98,0.71,0.00,0.00,0.14,0.17,0.04,0.05,0.06,0.07,0.00,0.00,0.07,0.01,0.98,0.70,0.00,0.00,0.14,0.17,0.04,0.05,0.06,0.07,0.00,0.00,reg oper account,block of flats,0.05,"Stone, brick",No,0.00,0.00,0.00,0.00,0.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,0.00
26,Cash loans,F,N,Y,0,112500.00,979992.00,27076.50,702000.00,Unaccompanied,Working,Secondary / secondary special,Widow,House / apartment,0.02,-18724,-2628,-6573.00,-1827,nan,1,1,0,1,0,0,Cooking staff,1.00,3,2,MONDAY,9,0,0,0,0,0,0,Business Entity Type 3,nan,0.55,0.19,0.02,0.01,0.97,nan,nan,0.00,0.07,0.04,nan,0.03,nan,0.01,nan,0.00,0.02,0.01,0.97,nan,nan,0.00,0.07,0.04,nan,0.03,nan,0.01,nan,0.00,0.02,0.01,0.97,nan,nan,0.00,0.07,0.04,nan,0.03,nan,0.01,nan,0.00,NaN,block of flats,0.01,Wooden,Yes,10.00,1.00,10.00,0.00,-161.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0.00,0.00,0.00,0.00,2.00,2.00
27,Cash loans,M,N,Y,1,112500.00,327024.00,23827.50,270000.00,Family,Working,Secondary / secondary special,Married,House / apartment,0.02,-15948,-1234,-5782.00,-3153,nan,1,1,0,1,0,0,Laborers,3.00,2,2,SATURDAY,10,0,0,0,0,1,1,Industry: type 11,nan,0.54,0.66,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,2.00,0.00,2.00,0.00,-2.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,0.00
28,Cash loans,M,Y,Y,0,270000.00,790830.00,57676.50,675000.00,Unaccompanied,State servant,Higher education,Single / not married,House / apartment,0.05,-9994,-1796,-4668.00,-2661,1.00,1,1,0,1,0,1,NaN,1.00,1,1,WEDNESDAY,11,0,1,1,0,0,0,Military,0.60,0.69,0.52,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.00,0.00,0.00,0.00,-849.00,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,1.00,0.00,1.00
29,Revolving loans,M,N,Y,0,90000.00,180000.00,9000.00,180000.00,Unaccompanied,Working,Higher education,Single / not married,With parents,0.03,-10341,-1010,-4799.00,-3015,nan,1,1,0,1,0,0,Laborers,1.00,2,2,TUESDAY,16,0,0,0,0,0,0,Business Entity Type 3,0.30,0.50,nan,0.15,0.08,0.98,0.77,0.02,0.16,0.14,0.33,0.38,0.09,0.12,0.14,0.01,0.01,0.15,0.09,0.98,0.78,0.02,0.16,0.14,0.33,0.38,0.09,0.13,0.15,0.01,0.01,0.15,0.08,0.98,0.77,0.02,0.16,0.14,0.33,0.38,0.09,0.12,0.14,0.01,0.01,reg oper account,block of flats,0.12,Panel,No,0.00,0.00,0.00,0.00,-599.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...

### baseline

In [68]:
from sklearn.linear_model import SGDClassifier
param_grid = {
    "penalty": ["none", "l2", "l1", "elasticnet"],
    'l1_ratio': [0.1, 0.2, 0.3, 0.5, 0.7, 0.8, 0.9],
    'alpha': [1, 0.1, 0.01, 0.001, 0.0001]
}
sgd = randomized_cv(SGDClassifier(), param_grid, x, y)

/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/stochastic_gradient.py:166: FutureWarning: max_iter and tol parameters have been added in SGDClassifier in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  FutureWarning)
/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_validation.py:542: FutureWarning: From version 0.22, errors during fit will result in a cross validation score of NaN by default. Use error_score='raise' if you want an exception raised or error_score=np.nan to adopt the behavior from version 0.22.
  FutureWarning)

ValueError: could not convert string to float: 'No'

### CatBoost

In [69]:
from catboost import CatBoostClassifier
clf = CatBoostClassifier(eval_metric='AUC')
#clf.fit(x, y, cat_features=[0,1,2,3, 9, 10, 11, 12, 13, 26, 30, 38, 84, 85, 87, 88])

In [70]:
dfcb = pd.DataFrame(df)

In [71]:
for c in categorical:
    dfcb[c] = dfcb[c].astype(str)

In [93]:
x = dfcb[columns].value

AttributeError: 'DataFrame' object has no attribute 'value'

In [73]:
clf.fit(x, y, cat_features=[0,1,2,3, 9, 10, 11, 12, 13, 26, 30, 38, 84, 85, 87, 88])

Learning rate set to 0.08476
0:	total: 820ms	remaining: 13m 39s
1:	total: 1.53s	remaining: 12m 42s
2:	total: 2.34s	remaining: 12m 58s
3:	total: 3.2s	remaining: 13m 17s
4:	total: 3.91s	remaining: 12m 57s
5:	total: 4.68s	remaining: 12m 54s
6:	total: 5.36s	remaining: 12m 40s
7:	total: 5.83s	remaining: 12m 3s
8:	total: 6.6s	remaining: 12m 6s
9:	total: 7.44s	remaining: 12m 16s
10:	total: 8.21s	remaining: 12m 17s
11:	total: 9.02s	remaining: 12m 22s
12:	total: 9.78s	remaining: 12m 22s
13:	total: 10.5s	remaining: 12m 21s
14:	total: 11.3s	remaining: 12m 24s
15:	total: 12.2s	remaining: 12m 31s
16:	total: 13s	remaining: 12m 31s
17:	total: 13.8s	remaining: 12m 31s
18:	total: 14.5s	remaining: 12m 29s
19:	total: 15.3s	remaining: 12m 29s
20:	total: 16.1s	remaining: 12m 28s
21:	total: 16.9s	remaining: 12m 29s
22:	total: 17.6s	remaining: 12m 28s
23:	total: 18.4s	remaining: 12m 27s
24:	total: 19.1s	remaining: 12m 26s
25:	total: 19.9s	remaining: 12m 24s
26:	total: 20.6s	remaining: 12m 23s
27:	total: 21.3s	remaining: 12m 20s
28:	total: 22.1s	remaining: 12m 19s
29:	total: 22.8s	remaining: 12m 18s
30:	total: 23.8s	remaining: 12m 23s
31:	total: 24.7s	remaining: 12m 26s
32:	total: 25.5s	remaining: 12m 26s
33:	total: 26.2s	remaining: 12m 25s
34:	total: 27.2s	remaining: 12m 30s
35:	total: 28.2s	remaining: 12m 36s
36:	total: 29.3s	remaining: 12m 43s
37:	total: 30.6s	remaining: 12m 55s
38:	total: 32s	remaining: 13m 7s
39:	total: 33.1s	remaining: 13m 15s
40:	total: 33.9s	remaining: 13m 12s
41:	total: 34.7s	remaining: 13m 11s
42:	total: 35.7s	remaining: 13m 13s
43:	total: 36.5s	remaining: 13m 13s
44:	total: 37.9s	remaining: 13m 24s
45:	total: 39.1s	remaining: 13m 30s
46:	total: 40.8s	remaining: 13m 48s
47:	total: 43.1s	remaining: 14m 15s
48:	total: 45.1s	remaining: 14m 35s
49:	total: 48.5s	remaining: 15m 21s
50:	total: 1m 3s	remaining: 19m 33s
51:	total: 1m 5s	remaining: 19m 59s
52:	total: 1m 8s	remaining: 20m 15s
53:	total: 1m 10s	remaining: 20m 29s
54:	total: 1m 12s	remaining: 20m 38s
55:	total: 1m 14s	remaining: 20m 51s
56:	total: 1m 16s	remaining: 21m 4s
57:	total: 1m 18s	remaining: 21m 11s
58:	total: 1m 19s	remaining: 21m 14s
59:	total: 1m 21s	remaining: 21m 23s
60:	total: 1m 23s	remaining: 21m 29s
61:	total: 1m 29s	remaining: 22m 32s
62:	total: 1m 30s	remaining: 22m 31s
63:	total: 1m 32s	remaining: 22m 32s
64:	total: 1m 34s	remaining: 22m 36s
65:	total: 1m 35s	remaining: 22m 38s
66:	total: 1m 37s	remaining: 22m 39s
67:	total: 1m 38s	remaining: 22m 34s
68:	total: 1m 39s	remaining: 22m 25s
69:	total: 1m 40s	remaining: 22m 17s
70:	total: 1m 41s	remaining: 22m 14s
71:	total: 1m 43s	remaining: 22m 12s
72:	total: 1m 44s	remaining: 22m 13s
73:	total: 1m 47s	remaining: 22m 19s
74:	total: 1m 49s	remaining: 22m 29s
75:	total: 1m 51s	remaining: 22m 29s
76:	total: 1m 52s	remaining: 22m 33s
77:	total: 1m 54s	remaining: 22m 30s
78:	total: 1m 55s	remaining: 22m 32s
79:	total: 1m 56s	remaining: 22m 24s
80:	total: 1m 58s	remaining: 22m 19s
81:	total: 1m 58s	remaining: 22m 11s
82:	total: 2m	remaining: 22m 15s
83:	total: 2m 2s	remaining: 22m 15s
84:	total: 2m 3s	remaining: 22m 11s
85:	total: 2m 5s	remaining: 22m 9s
86:	total: 2m 7s	remaining: 22m 13s
87:	total: 2m 8s	remaining: 22m 8s
88:	total: 2m 9s	remaining: 22m
89:	total: 2m 9s	remaining: 21m 54s
90:	total: 2m 10s	remaining: 21m 46s
91:	total: 2m 11s	remaining: 21m 39s
92:	total: 2m 12s	remaining: 21m 31s
93:	total: 2m 13s	remaining: 21m 24s
94:	total: 2m 14s	remaining: 21m 17s
95:	total: 2m 15s	remaining: 21m 11s
96:	total: 2m 15s	remaining: 21m 2s
97:	total: 2m 16s	remaining: 20m 55s
98:	total: 2m 17s	remaining: 20m 49s
99:	total: 2m 18s	remaining: 20m 42s
100:	total: 2m 18s	remaining: 20m 36s
101:	total: 2m 19s	remaining: 20m 30s
102:	total: 2m 20s	remaining: 20m 26s
103:	total: 2m 21s	remaining: 20m 20s
104:	total: 2m 22s	remaining: 20m 16s
105:	total: 2m 23s	remaining: 20m 13s
106:	total: 2m 25s	remaining: 20m 10s
107:	total: 2m 26s	remaining: 20m 6s
108:	total: 2m 27s	remaining: 20m 2s
109:	total: 2m 28s	remaining: 19m 57s
110:	total: 2m 28s	remaining: 19m 52s
111:	total: 2m 29s	remaining: 19m 47s
112:	total: 2m 31s	remaining: 19m 46s
113:	total: 2m 32s	remaining: 19m 43s
114:	total: 2m 33s	remaining: 19m 40s
115:	total: 2m 34s	remaining: 19m 39s
116:	total: 2m 36s	remaining: 19m 38s
117:	total: 2m 37s	remaining: 19m 34s
118:	total: 2m 38s	remaining: 19m 29s
119:	total: 2m 39s	remaining: 19m 26s
120:	total: 2m 40s	remaining: 19m 23s
121:	total: 2m 41s	remaining: 19m 19s
122:	total: 2m 42s	remaining: 19m 16s
123:	total: 2m 43s	remaining: 19m 12s
124:	total: 2m 44s	remaining: 19m 8s
125:	total: 2m 45s	remaining: 19m 5s
126:	total: 2m 46s	remaining: 19m 2s
127:	total: 2m 47s	remaining: 19m
128:	total: 2m 48s	remaining: 18m 56s
129:	total: 2m 49s	remaining: 18m 53s
130:	total: 2m 50s	remaining: 18m 51s
131:	total: 2m 51s	remaining: 18m 49s
132:	total: 2m 53s	remaining: 18m 50s
133:	total: 2m 55s	remaining: 18m 52s
134:	total: 2m 57s	remaining: 18m 54s
135:	total: 3m 9s	remaining: 20m
136:	total: 3m 12s	remaining: 20m 14s
137:	total: 3m 21s	remaining: 21m
138:	total: 3m 23s	remaining: 20m 57s
139:	total: 3m 24s	remaining: 20m 54s
140:	total: 3m 25s	remaining: 20m 51s
141:	total: 3m 26s	remaining: 20m 49s
142:	total: 3m 27s	remaining: 20m 46s
143:	total: 3m 29s	remaining: 20m 45s
144:	total: 3m 31s	remaining: 20m 44s
145:	total: 3m 32s	remaining: 20m 45s
146:	total: 3m 33s	remaining: 20m 40s
147:	total: 3m 35s	remaining: 20m 42s
148:	total: 3m 37s	remaining: 20m 41s
149:	total: 3m 38s	remaining: 20m 37s
150:	total: 3m 39s	remaining: 20m 34s
151:	total: 3m 40s	remaining: 20m 31s
152:	total: 3m 41s	remaining: 20m 27s
153:	total: 3m 42s	remaining: 20m 24s
154:	total: 3m 44s	remaining: 20m 21s
155:	total: 3m 45s	remaining: 20m 17s
156:	total: 3m 46s	remaining: 20m 14s
157:	total: 3m 47s	remaining: 20m 10s
158:	total: 3m 48s	remaining: 20m 6s
159:	total: 3m 49s	remaining: 20m 6s
160:	total: 3m 51s	remaining: 20m 4s
161:	total: 3m 53s	remaining: 20m 9s
162:	total: 3m 55s	remaining: 20m 7s
163:	total: 3m 56s	remaining: 20m 4s
164:	total: 3m 57s	remaining: 20m
165:	total: 3m 58s	remaining: 19m 56s
166:	total: 3m 59s	remaining: 19m 52s
167:	total: 3m 59s	remaining: 19m 48s
168:	total: 4m	remaining: 19m 44s
169:	total: 4m 1s	remaining: 19m 40s
170:	total: 4m 2s	remaining: 19m 36s
171:	total: 4m 3s	remaining: 19m 33s
172:	total: 4m 4s	remaining: 19m 30s
173:	total: 4m 5s	remaining: 19m 27s
174:	total: 4m 6s	remaining: 19m 23s
175:	total: 4m 7s	remaining: 19m 20s
176:	total: 4m 8s	remaining: 19m 17s
177:	total: 4m 9s	remaining: 19m 13s
178:	total: 4m 10s	remaining: 19m 9s
179:	total: 4m 11s	remaining: 19m 5s
180:	total: 4m 12s	remaining: 19m 2s
181:	total: 4m 13s	remaining: 18m 58s
182:	total: 4m 14s	remaining: 18m 56s
183:	total: 4m 17s	remaining: 19m 3s
184:	total: 4m 18s	remaining: 18m 59s
185:	total: 4m 19s	remaining: 18m 55s
186:	total: 4m 20s	remaining: 18m 51s
187:	total: 4m 21s	remaining: 18m 48s
188:	total: 4m 22s	remaining: 18m 45s
189:	total: 4m 23s	remaining: 18m 42s
190:	total: 4m 24s	remaining: 18m 40s
191:	total: 4m 25s	remaining: 18m 38s
192:	total: 4m 26s	remaining: 18m 35s
193:	total: 4m 27s	remaining: 18m 32s
194:	total: 4m 28s	remaining: 18m 29s
195:	total: 4m 29s	remaining: 18m 26s
196:	total: 4m 30s	remaining: 18m 22s
197:	total: 4m 31s	remaining: 18m 19s
198:	total: 4m 32s	remaining: 18m 16s
199:	total: 4m 33s	remaining: 18m 12s
200:	total: 4m 34s	remaining: 18m 9s
201:	total: 4m 34s	remaining: 18m 6s
202:	total: 4m 35s	remaining: 18m 2s
203:	total: 4m 36s	remaining: 17m 58s
204:	total: 4m 37s	remaining: 17m 55s
205:	total: 4m 38s	remaining: 17m 52s
206:	total: 4m 39s	remaining: 17m 49s
207:	total: 4m 39s	remaining: 17m 46s
208:	total: 4m 40s	remaining: 17m 42s
209:	total: 4m 41s	remaining: 17m 40s
210:	total: 4m 42s	remaining: 17m 37s
211:	total: 4m 43s	remaining: 17m 34s
212:	total: 4m 47s	remaining: 17m 41s
213:	total: 4m 48s	remaining: 17m 38s
214:	total: 4m 49s	remaining: 17m 35s
215:	total: 4m 49s	remaining: 17m 32s
216:	total: 4m 50s	remaining: 17m 29s
217:	total: 4m 51s	remaining: 17m 26s
218:	total: 4m 52s	remaining: 17m 23s
219:	total: 4m 53s	remaining: 17m 20s
220:	total: 4m 54s	remaining: 17m 17s
221:	total: 4m 55s	remaining: 17m 14s

222:	total: 4m 56s	remaining: 17m 12s
223:	total: 4m 57s	remaining: 17m 9s
224:	total: 4m 57s	remaining: 17m 6s
225:	total: 4m 58s	remaining: 17m 3s
226:	total: 4m 59s	remaining: 17m
227:	total: 5m	remaining: 16m 57s
228:	total: 5m 1s	remaining: 16m 54s
229:	total: 5m 2s	remaining: 16m 51s
230:	total: 5m 3s	remaining: 16m 48s
231:	total: 5m 3s	remaining: 16m 46s
232:	total: 5m 4s	remaining: 16m 43s
233:	total: 5m 5s	remaining: 16m 40s
234:	total: 5m 6s	remaining: 16m 37s
235:	total: 5m 7s	remaining: 16m 34s
236:	total: 5m 8s	remaining: 16m 32s
237:	total: 5m 8s	remaining: 16m 29s
238:	total: 5m 9s	remaining: 16m 26s
239:	total: 5m 10s	remaining: 16m 23s
240:	total: 5m 11s	remaining: 16m 20s
241:	total: 5m 12s	remaining: 16m 17s
242:	total: 5m 12s	remaining: 16m 14s
243:	total: 5m 13s	remaining: 16m 12s
244:	total: 5m 14s	remaining: 16m 10s
245:	total: 5m 15s	remaining: 16m 7s
246:	total: 5m 16s	remaining: 16m 5s
247:	total: 5m 17s	remaining: 16m 3s
248:	total: 5m 18s	remaining: 16m
249:	total: 5m 19s	remaining: 15m 57s
250:	total: 5m 20s	remaining: 15m 55s
251:	total: 5m 20s	remaining: 15m 52s
252:	total: 5m 21s	remaining: 15m 50s
253:	total: 5m 22s	remaining: 15m 47s
254:	total: 5m 23s	remaining: 15m 45s
255:	total: 5m 24s	remaining: 15m 43s
256:	total: 5m 25s	remaining: 15m 40s
257:	total: 5m 26s	remaining: 15m 38s
258:	total: 5m 27s	remaining: 15m 36s
259:	total: 5m 28s	remaining: 15m 34s
260:	total: 5m 29s	remaining: 15m 31s
261:	total: 5m 29s	remaining: 15m 29s
262:	total: 5m 30s	remaining: 15m 27s
263:	total: 5m 31s	remaining: 15m 24s
264:	total: 5m 32s	remaining: 15m 22s
265:	total: 5m 33s	remaining: 15m 20s
266:	total: 5m 34s	remaining: 15m 18s
267:	total: 5m 35s	remaining: 15m 16s
268:	total: 5m 36s	remaining: 15m 14s
269:	total: 5m 37s	remaining: 15m 11s
270:	total: 5m 38s	remaining: 15m 9s
271:	total: 5m 38s	remaining: 15m 7s
272:	total: 5m 39s	remaining: 15m 4s
273:	total: 5m 40s	remaining: 15m 3s
274:	total: 5m 41s	remaining: 15m
275:	total: 5m 42s	remaining: 14m 58s
276:	total: 5m 43s	remaining: 14m 56s
277:	total: 5m 44s	remaining: 14m 54s
278:	total: 5m 45s	remaining: 14m 52s
279:	total: 5m 46s	remaining: 14m 50s
280:	total: 5m 47s	remaining: 14m 49s
281:	total: 5m 48s	remaining: 14m 48s
282:	total: 5m 49s	remaining: 14m 45s
283:	total: 5m 50s	remaining: 14m 43s
284:	total: 5m 51s	remaining: 14m 41s
285:	total: 5m 52s	remaining: 14m 39s
286:	total: 5m 53s	remaining: 14m 37s
287:	total: 5m 54s	remaining: 14m 36s
288:	total: 5m 55s	remaining: 14m 33s
289:	total: 5m 56s	remaining: 14m 31s
290:	total: 5m 57s	remaining: 14m 29s
291:	total: 5m 58s	remaining: 14m 28s
292:	total: 5m 59s	remaining: 14m 27s
293:	total: 6m	remaining: 14m 25s
294:	total: 6m 1s	remaining: 14m 23s
295:	total: 6m 2s	remaining: 14m 21s
296:	total: 6m 3s	remaining: 14m 19s
297:	total: 6m 4s	remaining: 14m 17s
298:	total: 6m 5s	remaining: 14m 16s
299:	total: 6m 6s	remaining: 14m 15s
300:	total: 6m 8s	remaining: 14m 16s
301:	total: 6m 10s	remaining: 14m 16s
302:	total: 6m 13s	remaining: 14m 18s
303:	total: 6m 14s	remaining: 14m 17s
304:	total: 6m 15s	remaining: 14m 15s
305:	total: 6m 16s	remaining: 14m 13s
306:	total: 6m 17s	remaining: 14m 11s
307:	total: 6m 18s	remaining: 14m 9s
308:	total: 6m 19s	remaining: 14m 8s
309:	total: 6m 20s	remaining: 14m 7s
310:	total: 6m 21s	remaining: 14m 5s
311:	total: 6m 22s	remaining: 14m 3s
312:	total: 6m 23s	remaining: 14m 2s
313:	total: 6m 24s	remaining: 14m
314:	total: 6m 25s	remaining: 13m 58s
315:	total: 6m 26s	remaining: 13m 57s
316:	total: 6m 28s	remaining: 13m 56s
317:	total: 6m 30s	remaining: 13m 58s
318:	total: 6m 32s	remaining: 13m 58s
319:	total: 6m 34s	remaining: 13m 57s
320:	total: 6m 34s	remaining: 13m 55s
321:	total: 6m 35s	remaining: 13m 53s
322:	total: 6m 36s	remaining: 13m 51s
323:	total: 6m 37s	remaining: 13m 50s
324:	total: 6m 39s	remaining: 13m 49s
325:	total: 6m 40s	remaining: 13m 47s
326:	total: 6m 41s	remaining: 13m 45s
327:	total: 6m 42s	remaining: 13m 44s
328:	total: 6m 43s	remaining: 13m 42s
329:	total: 6m 44s	remaining: 13m 40s
330:	total: 6m 45s	remaining: 13m 38s
331:	total: 6m 46s	remaining: 13m 36s
332:	total: 6m 46s	remaining: 13m 34s
333:	total: 6m 47s	remaining: 13m 32s
334:	total: 6m 48s	remaining: 13m 31s
335:	total: 6m 49s	remaining: 13m 30s
336:	total: 6m 51s	remaining: 13m 28s
337:	total: 6m 52s	remaining: 13m 27s
338:	total: 6m 53s	remaining: 13m 25s
339:	total: 6m 54s	remaining: 13m 24s
340:	total: 6m 55s	remaining: 13m 22s
341:	total: 6m 56s	remaining: 13m 21s
342:	total: 6m 57s	remaining: 13m 19s
343:	total: 6m 58s	remaining: 13m 17s
344:	total: 6m 59s	remaining: 13m 15s
345:	total: 7m	remaining: 13m 14s
346:	total: 7m 1s	remaining: 13m 12s
347:	total: 7m 1s	remaining: 13m 10s
348:	total: 7m 2s	remaining: 13m 8s
349:	total: 7m 3s	remaining: 13m 6s
350:	total: 7m 4s	remaining: 13m 4s
351:	total: 7m 5s	remaining: 13m 3s
352:	total: 7m 6s	remaining: 13m 1s
353:	total: 7m 7s	remaining: 12m 59s
354:	total: 7m 8s	remaining: 12m 58s
355:	total: 7m 9s	remaining: 12m 56s
356:	total: 7m 10s	remaining: 12m 54s
357:	total: 7m 11s	remaining: 12m 53s
358:	total: 7m 12s	remaining: 12m 51s
359:	total: 7m 13s	remaining: 12m 50s
360:	total: 7m 14s	remaining: 12m 48s
361:	total: 7m 15s	remaining: 12m 46s
362:	total: 7m 16s	remaining: 12m 45s
363:	total: 7m 16s	remaining: 12m 43s
364:	total: 7m 17s	remaining: 12m 41s
365:	total: 7m 18s	remaining: 12m 39s
366:	total: 7m 19s	remaining: 12m 37s
367:	total: 7m 20s	remaining: 12m 36s
368:	total: 7m 21s	remaining: 12m 34s
369:	total: 7m 22s	remaining: 12m 33s
370:	total: 7m 23s	remaining: 12m 31s
371:	total: 7m 24s	remaining: 12m 29s
372:	total: 7m 25s	remaining: 12m 28s
373:	total: 7m 25s	remaining: 12m 26s
374:	total: 7m 26s	remaining: 12m 24s
375:	total: 7m 27s	remaining: 12m 22s
376:	total: 7m 28s	remaining: 12m 21s
377:	total: 7m 29s	remaining: 12m 19s
378:	total: 7m 30s	remaining: 12m 17s
379:	total: 7m 31s	remaining: 12m 16s
380:	total: 7m 31s	remaining: 12m 14s
381:	total: 7m 32s	remaining: 12m 12s
382:	total: 7m 33s	remaining: 12m 11s
383:	total: 7m 34s	remaining: 12m 9s
384:	total: 7m 35s	remaining: 12m 8s
385:	total: 7m 36s	remaining: 12m 6s
386:	total: 7m 37s	remaining: 12m 5s
387:	total: 7m 39s	remaining: 12m 4s
388:	total: 7m 40s	remaining: 12m 2s
389:	total: 7m 41s	remaining: 12m 1s
390:	total: 7m 41s	remaining: 11m 59s
391:	total: 7m 42s	remaining: 11m 58s
392:	total: 7m 44s	remaining: 11m 56s
393:	total: 7m 45s	remaining: 11m 55s
394:	total: 7m 46s	remaining: 11m 54s
395:	total: 7m 47s	remaining: 11m 52s
396:	total: 7m 48s	remaining: 11m 51s
397:	total: 7m 49s	remaining: 11m 50s
398:	total: 7m 52s	remaining: 11m 51s
399:	total: 7m 53s	remaining: 11m 50s
400:	total: 7m 55s	remaining: 11m 49s
401:	total: 7m 57s	remaining: 11m 49s
402:	total: 7m 58s	remaining: 11m 49s
403:	total: 8m	remaining: 11m 48s
404:	total: 8m 1s	remaining: 11m 46s
405:	total: 8m 2s	remaining: 11m 45s
406:	total: 8m 3s	remaining: 11m 45s
407:	total: 8m 5s	remaining: 11m 44s
408:	total: 8m 6s	remaining: 11m 43s
409:	total: 8m 8s	remaining: 11m 42s
410:	total: 8m 16s	remaining: 11m 51s
411:	total: 8m 17s	remaining: 11m 49s
412:	total: 8m 18s	remaining: 11m 48s
413:	total: 8m 19s	remaining: 11m 46s
414:	total: 8m 20s	remaining: 11m 45s
415:	total: 8m 23s	remaining: 11m 47s
416:	total: 8m 27s	remaining: 11m 49s
417:	total: 8m 28s	remaining: 11m 48s
418:	total: 8m 30s	remaining: 11m 47s
419:	total: 8m 31s	remaining: 11m 46s
420:	total: 8m 32s	remaining: 11m 45s
421:	total: 8m 34s	remaining: 11m 44s
422:	total: 8m 35s	remaining: 11m 42s
423:	total: 8m 36s	remaining: 11m 41s
424:	total: 8m 38s	remaining: 11m 40s
425:	total: 8m 39s	remaining: 11m 40s
426:	total: 8m 40s	remaining: 11m 38s
427:	total: 8m 42s	remaining: 11m 38s
428:	total: 8m 43s	remaining: 11m 36s
429:	total: 8m 44s	remaining: 11m 35s
430:	total: 8m 46s	remaining: 11m 34s
431:	total: 8m 47s	remaining: 11m 33s
432:	total: 8m 48s	remaining: 11m 32s
433:	total: 8m 49s	remaining: 11m 30s
434:	total: 8m 50s	remaining: 11m 29s
435:	total: 8m 51s	remaining: 11m 27s
436:	total: 8m 53s	remaining: 11m 26s
437:	total: 8m 54s	remaining: 11m 25s
438:	total: 8m 55s	remaining: 11m 24s
439:	total: 8m 57s	remaining: 11m 24s
440:	total: 8m 58s	remaining: 11m 23s

441:	total: 9m	remaining: 11m 21s
442:	total: 9m 1s	remaining: 11m 20s
443:	total: 9m 2s	remaining: 11m 19s
444:	total: 9m 3s	remaining: 11m 18s
445:	total: 9m 5s	remaining: 11m 17s
446:	total: 9m 6s	remaining: 11m 15s
447:	total: 9m 7s	remaining: 11m 14s
448:	total: 9m 8s	remaining: 11m 13s
449:	total: 9m 9s	remaining: 11m 12s
450:	total: 9m 11s	remaining: 11m 10s
451:	total: 9m 12s	remaining: 11m 10s
452:	total: 9m 13s	remaining: 11m 8s
453:	total: 9m 14s	remaining: 11m 7s
454:	total: 9m 15s	remaining: 11m 5s
455:	total: 9m 16s	remaining: 11m 3s
456:	total: 9m 17s	remaining: 11m 2s
457:	total: 9m 21s	remaining: 11m 3s
458:	total: 9m 22s	remaining: 11m 2s
459:	total: 9m 23s	remaining: 11m
460:	total: 9m 24s	remaining: 10m 59s
461:	total: 9m 25s	remaining: 10m 58s
462:	total: 9m 26s	remaining: 10m 57s
463:	total: 9m 28s	remaining: 10m 56s
464:	total: 9m 30s	remaining: 10m 56s
465:	total: 9m 31s	remaining: 10m 55s
466:	total: 9m 33s	remaining: 10m 54s
467:	total: 9m 34s	remaining: 10m 53s
468:	total: 9m 36s	remaining: 10m 52s
469:	total: 9m 37s	remaining: 10m 51s
470:	total: 9m 38s	remaining: 10m 50s
471:	total: 9m 40s	remaining: 10m 49s
472:	total: 9m 41s	remaining: 10m 48s
473:	total: 9m 43s	remaining: 10m 47s
474:	total: 9m 44s	remaining: 10m 46s
475:	total: 9m 46s	remaining: 10m 45s
476:	total: 9m 47s	remaining: 10m 44s
477:	total: 9m 53s	remaining: 10m 47s
478:	total: 9m 54s	remaining: 10m 46s
479:	total: 9m 56s	remaining: 10m 46s
480:	total: 9m 58s	remaining: 10m 45s
481:	total: 9m 59s	remaining: 10m 44s
482:	total: 10m 1s	remaining: 10m 43s
483:	total: 10m 3s	remaining: 10m 42s
484:	total: 10m 4s	remaining: 10m 42s
485:	total: 10m 6s	remaining: 10m 41s
486:	total: 10m 8s	remaining: 10m 40s
487:	total: 10m 10s	remaining: 10m 40s
488:	total: 10m 12s	remaining: 10m 40s
489:	total: 10m 16s	remaining: 10m 41s
490:	total: 10m 19s	remaining: 10m 42s
491:	total: 10m 21s	remaining: 10m 41s
492:	total: 10m 23s	remaining: 10m 40s
493:	total: 10m 24s	remaining: 10m 39s
494:	total: 10m 25s	remaining: 10m 38s
495:	total: 10m 27s	remaining: 10m 37s
496:	total: 10m 29s	remaining: 10m 36s
497:	total: 10m 31s	remaining: 10m 36s
498:	total: 10m 33s	remaining: 10m 35s
499:	total: 10m 35s	remaining: 10m 35s
500:	total: 10m 36s	remaining: 10m 34s
501:	total: 10m 38s	remaining: 10m 32s
502:	total: 10m 40s	remaining: 10m 32s
503:	total: 10m 41s	remaining: 10m 31s
504:	total: 10m 44s	remaining: 10m 31s
505:	total: 10m 46s	remaining: 10m 30s
506:	total: 10m 48s	remaining: 10m 30s
507:	total: 10m 50s	remaining: 10m 29s
508:	total: 10m 52s	remaining: 10m 29s
509:	total: 10m 55s	remaining: 10m 29s
510:	total: 10m 58s	remaining: 10m 29s
511:	total: 11m	remaining: 10m 29s
512:	total: 11m 3s	remaining: 10m 30s
513:	total: 11m 6s	remaining: 10m 30s
514:	total: 11m 7s	remaining: 10m 29s
515:	total: 11m 9s	remaining: 10m 28s
516:	total: 11m 10s	remaining: 10m 26s
517:	total: 11m 12s	remaining: 10m 25s
518:	total: 11m 14s	remaining: 10m 24s
519:	total: 11m 15s	remaining: 10m 23s
520:	total: 11m 17s	remaining: 10m 22s
521:	total: 11m 19s	remaining: 10m 22s
522:	total: 11m 20s	remaining: 10m 20s
523:	total: 11m 22s	remaining: 10m 19s
524:	total: 11m 23s	remaining: 10m 18s
525:	total: 11m 25s	remaining: 10m 17s
526:	total: 11m 26s	remaining: 10m 16s
527:	total: 11m 27s	remaining: 10m 14s
528:	total: 11m 28s	remaining: 10m 13s
529:	total: 11m 30s	remaining: 10m 12s
530:	total: 11m 31s	remaining: 10m 10s
531:	total: 11m 32s	remaining: 10m 9s
532:	total: 11m 37s	remaining: 10m 11s
533:	total: 11m 38s	remaining: 10m 9s
534:	total: 11m 40s	remaining: 10m 8s
535:	total: 11m 41s	remaining: 10m 7s
536:	total: 11m 43s	remaining: 10m 6s
537:	total: 11m 46s	remaining: 10m 6s
538:	total: 11m 47s	remaining: 10m 5s
539:	total: 11m 48s	remaining: 10m 3s
540:	total: 11m 50s	remaining: 10m 2s
541:	total: 11m 51s	remaining: 10m 1s
542:	total: 11m 53s	remaining: 10m
543:	total: 11m 55s	remaining: 9m 59s
544:	total: 11m 56s	remaining: 9m 58s
545:	total: 11m 57s	remaining: 9m 56s
546:	total: 11m 59s	remaining: 9m 55s
547:	total: 12m	remaining: 9m 54s
548:	total: 12m 1s	remaining: 9m 52s
549:	total: 12m 3s	remaining: 9m 51s
550:	total: 12m 4s	remaining: 9m 50s
551:	total: 12m 5s	remaining: 9m 49s
552:	total: 12m 7s	remaining: 9m 47s
553:	total: 12m 8s	remaining: 9m 46s
554:	total: 12m 9s	remaining: 9m 45s
555:	total: 12m 10s	remaining: 9m 43s
556:	total: 12m 12s	remaining: 9m 42s
557:	total: 12m 13s	remaining: 9m 41s
558:	total: 12m 15s	remaining: 9m 40s
559:	total: 12m 16s	remaining: 9m 38s
560:	total: 12m 18s	remaining: 9m 37s
561:	total: 12m 19s	remaining: 9m 36s
562:	total: 12m 20s	remaining: 9m 34s
563:	total: 12m 22s	remaining: 9m 33s
564:	total: 12m 23s	remaining: 9m 32s
565:	total: 12m 24s	remaining: 9m 31s
566:	total: 12m 26s	remaining: 9m 30s
567:	total: 12m 27s	remaining: 9m 28s
568:	total: 12m 29s	remaining: 9m 27s
569:	total: 12m 31s	remaining: 9m 26s
570:	total: 12m 33s	remaining: 9m 26s
571:	total: 12m 35s	remaining: 9m 25s
572:	total: 12m 38s	remaining: 9m 25s
573:	total: 12m 40s	remaining: 9m 24s
574:	total: 12m 41s	remaining: 9m 22s
575:	total: 12m 43s	remaining: 9m 22s
576:	total: 12m 45s	remaining: 9m 21s
577:	total: 12m 47s	remaining: 9m 20s
578:	total: 12m 49s	remaining: 9m 19s
579:	total: 12m 51s	remaining: 9m 18s
580:	total: 12m 54s	remaining: 9m 18s
581:	total: 12m 56s	remaining: 9m 17s
582:	total: 12m 57s	remaining: 9m 16s
583:	total: 12m 59s	remaining: 9m 15s
584:	total: 13m 1s	remaining: 9m 14s
585:	total: 13m 3s	remaining: 9m 13s
586:	total: 13m 4s	remaining: 9m 11s
587:	total: 13m 5s	remaining: 9m 10s
588:	total: 13m 7s	remaining: 9m 9s
589:	total: 13m 9s	remaining: 9m 8s
590:	total: 13m 11s	remaining: 9m 7s
591:	total: 13m 13s	remaining: 9m 6s
592:	total: 13m 15s	remaining: 9m 6s
593:	total: 13m 25s	remaining: 9m 10s
594:	total: 13m 30s	remaining: 9m 11s
595:	total: 13m 31s	remaining: 9m 10s
596:	total: 13m 33s	remaining: 9m 8s
597:	total: 13m 34s	remaining: 9m 7s
598:	total: 13m 35s	remaining: 9m 6s
599:	total: 13m 37s	remaining: 9m 4s
600:	total: 13m 38s	remaining: 9m 3s
601:	total: 13m 40s	remaining: 9m 2s
602:	total: 13m 41s	remaining: 9m
603:	total: 13m 42s	remaining: 8m 59s
604:	total: 13m 44s	remaining: 8m 58s
605:	total: 13m 45s	remaining: 8m 56s
606:	total: 13m 47s	remaining: 8m 55s
607:	total: 13m 48s	remaining: 8m 54s
608:	total: 13m 50s	remaining: 8m 53s
609:	total: 13m 53s	remaining: 8m 52s
610:	total: 13m 55s	remaining: 8m 51s
611:	total: 13m 56s	remaining: 8m 50s
612:	total: 13m 58s	remaining: 8m 49s
613:	total: 13m 59s	remaining: 8m 47s
614:	total: 14m	remaining: 8m 46s
615:	total: 14m 2s	remaining: 8m 45s
616:	total: 14m 4s	remaining: 8m 43s
617:	total: 14m 5s	remaining: 8m 42s
618:	total: 14m 6s	remaining: 8m 41s
619:	total: 14m 8s	remaining: 8m 39s
620:	total: 14m 9s	remaining: 8m 38s
621:	total: 14m 10s	remaining: 8m 37s
622:	total: 14m 13s	remaining: 8m 36s
623:	total: 14m 15s	remaining: 8m 35s
624:	total: 14m 17s	remaining: 8m 34s
625:	total: 14m 19s	remaining: 8m 33s
626:	total: 14m 23s	remaining: 8m 33s
627:	total: 14m 26s	remaining: 8m 33s
628:	total: 14m 28s	remaining: 8m 32s
629:	total: 14m 29s	remaining: 8m 30s
630:	total: 14m 30s	remaining: 8m 29s
631:	total: 14m 32s	remaining: 8m 28s
632:	total: 14m 34s	remaining: 8m 27s
633:	total: 14m 36s	remaining: 8m 25s
634:	total: 14m 37s	remaining: 8m 24s
635:	total: 14m 38s	remaining: 8m 22s
636:	total: 14m 39s	remaining: 8m 21s
637:	total: 14m 41s	remaining: 8m 19s
638:	total: 14m 42s	remaining: 8m 18s
639:	total: 14m 43s	remaining: 8m 17s
640:	total: 14m 45s	remaining: 8m 15s
641:	total: 14m 46s	remaining: 8m 14s
642:	total: 14m 47s	remaining: 8m 12s
643:	total: 14m 49s	remaining: 8m 11s
644:	total: 14m 50s	remaining: 8m 10s
645:	total: 14m 52s	remaining: 8m 8s
646:	total: 14m 57s	remaining: 8m 9s
647:	total: 14m 58s	remaining: 8m 8s
648:	total: 15m	remaining: 8m 6s
649:	total: 15m 1s	remaining: 8m 5s
650:	total: 15m 2s	remaining: 8m 4s
651:	total: 15m 4s	remaining: 8m 2s
652:	total: 15m 5s	remaining: 8m 1s
653:	total: 15m 7s	remaining: 8m
654:	total: 15m 8s	remaining: 7m 58s
655:	total: 15m 10s	remaining: 7m 57s
656:	total: 15m 11s	remaining: 7m 55s
657:	total: 15m 12s	remaining: 7m 54s

658:	total: 15m 13s	remaining: 7m 52s
659:	total: 15m 15s	remaining: 7m 51s
660:	total: 15m 16s	remaining: 7m 49s
661:	total: 15m 17s	remaining: 7m 48s
662:	total: 15m 18s	remaining: 7m 47s
663:	total: 15m 20s	remaining: 7m 45s
664:	total: 15m 21s	remaining: 7m 44s
665:	total: 15m 22s	remaining: 7m 42s
666:	total: 15m 24s	remaining: 7m 41s
667:	total: 15m 25s	remaining: 7m 39s
668:	total: 15m 26s	remaining: 7m 38s
669:	total: 15m 28s	remaining: 7m 37s
670:	total: 15m 29s	remaining: 7m 35s
671:	total: 15m 30s	remaining: 7m 34s
672:	total: 15m 31s	remaining: 7m 32s
673:	total: 15m 32s	remaining: 7m 31s
674:	total: 15m 34s	remaining: 7m 29s
675:	total: 15m 35s	remaining: 7m 28s
676:	total: 15m 36s	remaining: 7m 26s
677:	total: 15m 38s	remaining: 7m 25s
678:	total: 15m 39s	remaining: 7m 24s
679:	total: 15m 40s	remaining: 7m 22s
680:	total: 15m 41s	remaining: 7m 21s
681:	total: 15m 43s	remaining: 7m 19s
682:	total: 15m 44s	remaining: 7m 18s
683:	total: 15m 45s	remaining: 7m 16s
684:	total: 15m 47s	remaining: 7m 15s
685:	total: 15m 48s	remaining: 7m 14s
686:	total: 15m 49s	remaining: 7m 12s
687:	total: 15m 50s	remaining: 7m 11s
688:	total: 15m 51s	remaining: 7m 9s
689:	total: 15m 53s	remaining: 7m 8s
690:	total: 15m 54s	remaining: 7m 6s
691:	total: 15m 55s	remaining: 7m 5s
692:	total: 15m 57s	remaining: 7m 3s
693:	total: 15m 58s	remaining: 7m 2s
694:	total: 15m 59s	remaining: 7m
695:	total: 16m	remaining: 6m 59s
696:	total: 16m 1s	remaining: 6m 58s
697:	total: 16m 3s	remaining: 6m 56s
698:	total: 16m 4s	remaining: 6m 55s
699:	total: 16m 5s	remaining: 6m 53s
700:	total: 16m 6s	remaining: 6m 52s
701:	total: 16m 7s	remaining: 6m 50s
702:	total: 16m 8s	remaining: 6m 49s
703:	total: 16m 9s	remaining: 6m 47s
704:	total: 16m 10s	remaining: 6m 46s
705:	total: 16m 12s	remaining: 6m 44s
706:	total: 16m 13s	remaining: 6m 43s
707:	total: 16m 14s	remaining: 6m 42s
708:	total: 16m 16s	remaining: 6m 40s
709:	total: 16m 17s	remaining: 6m 39s
710:	total: 16m 18s	remaining: 6m 37s
711:	total: 16m 19s	remaining: 6m 36s
712:	total: 16m 20s	remaining: 6m 34s
713:	total: 16m 21s	remaining: 6m 33s
714:	total: 16m 23s	remaining: 6m 31s
715:	total: 16m 24s	remaining: 6m 30s
716:	total: 16m 25s	remaining: 6m 29s
717:	total: 16m 26s	remaining: 6m 27s
718:	total: 16m 27s	remaining: 6m 26s
719:	total: 16m 28s	remaining: 6m 24s
720:	total: 16m 30s	remaining: 6m 23s
721:	total: 16m 31s	remaining: 6m 21s
722:	total: 16m 32s	remaining: 6m 20s
723:	total: 16m 33s	remaining: 6m 18s
724:	total: 16m 34s	remaining: 6m 17s
725:	total: 16m 36s	remaining: 6m 15s
726:	total: 16m 37s	remaining: 6m 14s
727:	total: 16m 41s	remaining: 6m 14s
728:	total: 16m 42s	remaining: 6m 12s
729:	total: 16m 43s	remaining: 6m 11s
730:	total: 16m 44s	remaining: 6m 9s
731:	total: 16m 46s	remaining: 6m 8s
732:	total: 16m 47s	remaining: 6m 6s
733:	total: 16m 48s	remaining: 6m 5s
734:	total: 16m 49s	remaining: 6m 4s
735:	total: 16m 51s	remaining: 6m 2s
736:	total: 16m 52s	remaining: 6m 1s
737:	total: 16m 53s	remaining: 5m 59s
738:	total: 16m 55s	remaining: 5m 58s
739:	total: 16m 56s	remaining: 5m 57s
740:	total: 16m 57s	remaining: 5m 55s
741:	total: 16m 58s	remaining: 5m 54s
742:	total: 16m 59s	remaining: 5m 52s
743:	total: 17m 1s	remaining: 5m 51s
744:	total: 17m 2s	remaining: 5m 49s
745:	total: 17m 3s	remaining: 5m 48s
746:	total: 17m 4s	remaining: 5m 47s
747:	total: 17m 6s	remaining: 5m 45s
748:	total: 17m 7s	remaining: 5m 44s
749:	total: 17m 8s	remaining: 5m 42s
750:	total: 17m 9s	remaining: 5m 41s
751:	total: 17m 11s	remaining: 5m 40s
752:	total: 17m 12s	remaining: 5m 38s
753:	total: 17m 13s	remaining: 5m 37s
754:	total: 17m 14s	remaining: 5m 35s
755:	total: 17m 15s	remaining: 5m 34s
756:	total: 17m 17s	remaining: 5m 32s
757:	total: 17m 18s	remaining: 5m 31s
758:	total: 17m 19s	remaining: 5m 30s
759:	total: 17m 20s	remaining: 5m 28s
760:	total: 17m 22s	remaining: 5m 27s
761:	total: 17m 23s	remaining: 5m 25s
762:	total: 17m 24s	remaining: 5m 24s
763:	total: 17m 25s	remaining: 5m 23s
764:	total: 17m 27s	remaining: 5m 21s
765:	total: 17m 28s	remaining: 5m 20s
766:	total: 17m 29s	remaining: 5m 18s
767:	total: 17m 31s	remaining: 5m 17s
768:	total: 17m 32s	remaining: 5m 16s
769:	total: 17m 33s	remaining: 5m 14s
770:	total: 17m 34s	remaining: 5m 13s
771:	total: 17m 35s	remaining: 5m 11s
772:	total: 17m 36s	remaining: 5m 10s
773:	total: 17m 37s	remaining: 5m 8s
774:	total: 17m 38s	remaining: 5m 7s
775:	total: 17m 39s	remaining: 5m 5s
776:	total: 17m 41s	remaining: 5m 4s
777:	total: 17m 42s	remaining: 5m 3s
778:	total: 17m 43s	remaining: 5m 1s
779:	total: 17m 44s	remaining: 5m
780:	total: 17m 46s	remaining: 4m 58s
781:	total: 17m 47s	remaining: 4m 57s
782:	total: 17m 48s	remaining: 4m 56s
783:	total: 17m 49s	remaining: 4m 54s
784:	total: 17m 51s	remaining: 4m 53s
785:	total: 17m 52s	remaining: 4m 51s
786:	total: 17m 53s	remaining: 4m 50s
787:	total: 17m 54s	remaining: 4m 49s
788:	total: 17m 55s	remaining: 4m 47s
789:	total: 17m 56s	remaining: 4m 46s
790:	total: 17m 57s	remaining: 4m 44s
791:	total: 17m 58s	remaining: 4m 43s
792:	total: 17m 59s	remaining: 4m 41s
793:	total: 18m 1s	remaining: 4m 40s
794:	total: 18m 2s	remaining: 4m 39s
795:	total: 18m 3s	remaining: 4m 37s
796:	total: 18m 4s	remaining: 4m 36s
797:	total: 18m 6s	remaining: 4m 34s
798:	total: 18m 7s	remaining: 4m 33s
799:	total: 18m 8s	remaining: 4m 32s
800:	total: 18m 9s	remaining: 4m 30s
801:	total: 18m 11s	remaining: 4m 29s
802:	total: 18m 12s	remaining: 4m 28s
803:	total: 18m 13s	remaining: 4m 26s
804:	total: 18m 15s	remaining: 4m 25s
805:	total: 18m 16s	remaining: 4m 23s
806:	total: 18m 17s	remaining: 4m 22s
807:	total: 18m 18s	remaining: 4m 21s
808:	total: 18m 19s	remaining: 4m 19s
809:	total: 18m 21s	remaining: 4m 18s
810:	total: 18m 22s	remaining: 4m 16s
811:	total: 18m 23s	remaining: 4m 15s
812:	total: 18m 36s	remaining: 4m 16s
813:	total: 18m 37s	remaining: 4m 15s
814:	total: 18m 39s	remaining: 4m 14s
815:	total: 18m 40s	remaining: 4m 12s
816:	total: 18m 42s	remaining: 4m 11s
817:	total: 18m 43s	remaining: 4m 10s
818:	total: 18m 45s	remaining: 4m 8s
819:	total: 18m 46s	remaining: 4m 7s
820:	total: 18m 49s	remaining: 4m 6s
821:	total: 18m 51s	remaining: 4m 5s
822:	total: 18m 54s	remaining: 4m 4s
823:	total: 18m 56s	remaining: 4m 2s
824:	total: 18m 58s	remaining: 4m 1s
825:	total: 18m 59s	remaining: 4m
826:	total: 19m 1s	remaining: 3m 58s
827:	total: 19m 2s	remaining: 3m 57s
828:	total: 19m 4s	remaining: 3m 56s
829:	total: 19m 5s	remaining: 3m 54s
830:	total: 19m 7s	remaining: 3m 53s
831:	total: 19m 9s	remaining: 3m 52s
832:	total: 19m 10s	remaining: 3m 50s
833:	total: 19m 12s	remaining: 3m 49s
834:	total: 19m 16s	remaining: 3m 48s
835:	total: 19m 19s	remaining: 3m 47s
836:	total: 19m 21s	remaining: 3m 46s
837:	total: 19m 22s	remaining: 3m 44s
838:	total: 19m 25s	remaining: 3m 43s
839:	total: 19m 40s	remaining: 3m 44s
840:	total: 19m 47s	remaining: 3m 44s
841:	total: 19m 49s	remaining: 3m 43s
842:	total: 19m 51s	remaining: 3m 41s
843:	total: 19m 53s	remaining: 3m 40s
844:	total: 19m 55s	remaining: 3m 39s
845:	total: 19m 57s	remaining: 3m 37s
846:	total: 20m 4s	remaining: 3m 37s
847:	total: 20m 6s	remaining: 3m 36s
848:	total: 20m 8s	remaining: 3m 34s
849:	total: 20m 9s	remaining: 3m 33s
850:	total: 20m 11s	remaining: 3m 32s
851:	total: 20m 12s	remaining: 3m 30s
852:	total: 20m 14s	remaining: 3m 29s
853:	total: 20m 16s	remaining: 3m 27s
854:	total: 20m 17s	remaining: 3m 26s
855:	total: 20m 19s	remaining: 3m 25s
856:	total: 20m 20s	remaining: 3m 23s
857:	total: 20m 22s	remaining: 3m 22s
858:	total: 20m 24s	remaining: 3m 20s
859:	total: 20m 25s	remaining: 3m 19s
860:	total: 20m 26s	remaining: 3m 18s
861:	total: 20m 28s	remaining: 3m 16s
862:	total: 20m 30s	remaining: 3m 15s
863:	total: 20m 31s	remaining: 3m 13s
864:	total: 20m 32s	remaining: 3m 12s
865:	total: 20m 34s	remaining: 3m 10s
866:	total: 20m 35s	remaining: 3m 9s
867:	total: 20m 37s	remaining: 3m 8s
868:	total: 20m 38s	remaining: 3m 6s
869:	total: 20m 40s	remaining: 3m 5s
870:	total: 20m 41s	remaining: 3m 3s
871:	total: 20m 42s	remaining: 3m 2s
872:	total: 20m 43s	remaining: 3m
873:	total: 20m 45s	remaining: 2m 59s
874:	total: 20m 47s	remaining: 2m 58s
875:	total: 20m 48s	remaining: 2m 56s

876:	total: 20m 50s	remaining: 2m 55s
877:	total: 20m 52s	remaining: 2m 54s
878:	total: 20m 54s	remaining: 2m 52s
879:	total: 20m 55s	remaining: 2m 51s
880:	total: 20m 57s	remaining: 2m 49s
881:	total: 20m 59s	remaining: 2m 48s
882:	total: 21m	remaining: 2m 47s
883:	total: 21m 2s	remaining: 2m 45s
884:	total: 21m 3s	remaining: 2m 44s
885:	total: 21m 5s	remaining: 2m 42s
886:	total: 21m 7s	remaining: 2m 41s
887:	total: 21m 9s	remaining: 2m 40s
888:	total: 21m 10s	remaining: 2m 38s
889:	total: 21m 11s	remaining: 2m 37s
890:	total: 21m 13s	remaining: 2m 35s
891:	total: 21m 15s	remaining: 2m 34s
892:	total: 21m 17s	remaining: 2m 33s
893:	total: 21m 18s	remaining: 2m 31s
894:	total: 21m 19s	remaining: 2m 30s
895:	total: 21m 23s	remaining: 2m 28s
896:	total: 21m 25s	remaining: 2m 27s
897:	total: 21m 26s	remaining: 2m 26s
898:	total: 21m 28s	remaining: 2m 24s
899:	total: 21m 29s	remaining: 2m 23s
900:	total: 21m 30s	remaining: 2m 21s
901:	total: 21m 32s	remaining: 2m 20s
902:	total: 21m 33s	remaining: 2m 18s
903:	total: 21m 34s	remaining: 2m 17s
904:	total: 21m 35s	remaining: 2m 16s
905:	total: 21m 37s	remaining: 2m 14s
906:	total: 21m 38s	remaining: 2m 13s
907:	total: 21m 39s	remaining: 2m 11s
908:	total: 21m 41s	remaining: 2m 10s
909:	total: 21m 45s	remaining: 2m 9s
910:	total: 21m 48s	remaining: 2m 7s
911:	total: 21m 50s	remaining: 2m 6s
912:	total: 21m 52s	remaining: 2m 5s
913:	total: 21m 54s	remaining: 2m 3s
914:	total: 21m 56s	remaining: 2m 2s
915:	total: 21m 58s	remaining: 2m
916:	total: 22m	remaining: 1m 59s
917:	total: 22m 3s	remaining: 1m 58s
918:	total: 22m 6s	remaining: 1m 56s
919:	total: 22m 8s	remaining: 1m 55s
920:	total: 22m 10s	remaining: 1m 54s
921:	total: 22m 12s	remaining: 1m 52s
922:	total: 22m 14s	remaining: 1m 51s
923:	total: 22m 16s	remaining: 1m 49s
924:	total: 22m 17s	remaining: 1m 48s
925:	total: 22m 18s	remaining: 1m 46s
926:	total: 22m 20s	remaining: 1m 45s
927:	total: 22m 21s	remaining: 1m 44s
928:	total: 22m 22s	remaining: 1m 42s
929:	total: 22m 24s	remaining: 1m 41s
930:	total: 22m 26s	remaining: 1m 39s
931:	total: 22m 29s	remaining: 1m 38s
932:	total: 22m 30s	remaining: 1m 37s
933:	total: 22m 31s	remaining: 1m 35s
934:	total: 22m 33s	remaining: 1m 34s
935:	total: 22m 34s	remaining: 1m 32s
936:	total: 22m 35s	remaining: 1m 31s
937:	total: 22m 36s	remaining: 1m 29s
938:	total: 22m 37s	remaining: 1m 28s
939:	total: 22m 39s	remaining: 1m 26s
940:	total: 22m 40s	remaining: 1m 25s
941:	total: 22m 41s	remaining: 1m 23s
942:	total: 22m 43s	remaining: 1m 22s
943:	total: 22m 44s	remaining: 1m 20s
944:	total: 22m 45s	remaining: 1m 19s
945:	total: 22m 46s	remaining: 1m 18s
946:	total: 22m 48s	remaining: 1m 16s
947:	total: 22m 49s	remaining: 1m 15s
948:	total: 22m 50s	remaining: 1m 13s
949:	total: 22m 51s	remaining: 1m 12s
950:	total: 22m 54s	remaining: 1m 10s
951:	total: 22m 55s	remaining: 1m 9s
952:	total: 22m 58s	remaining: 1m 7s
953:	total: 23m 1s	remaining: 1m 6s
954:	total: 23m 4s	remaining: 1m 5s
955:	total: 23m 5s	remaining: 1m 3s
956:	total: 23m 7s	remaining: 1m 2s
957:	total: 23m 8s	remaining: 1m
958:	total: 23m 10s	remaining: 59.4s
959:	total: 23m 11s	remaining: 58s
960:	total: 23m 13s	remaining: 56.5s
961:	total: 23m 14s	remaining: 55.1s
962:	total: 23m 16s	remaining: 53.6s
963:	total: 23m 17s	remaining: 52.2s
964:	total: 23m 18s	remaining: 50.7s
965:	total: 23m 19s	remaining: 49.3s
966:	total: 23m 21s	remaining: 47.8s
967:	total: 23m 22s	remaining: 46.4s
968:	total: 23m 24s	remaining: 44.9s
969:	total: 23m 26s	remaining: 43.5s
970:	total: 23m 28s	remaining: 42.1s
971:	total: 23m 30s	remaining: 40.6s
972:	total: 23m 42s	remaining: 39.5s
973:	total: 23m 46s	remaining: 38.1s
974:	total: 23m 48s	remaining: 36.6s
975:	total: 23m 49s	remaining: 35.2s
976:	total: 23m 50s	remaining: 33.7s
977:	total: 23m 52s	remaining: 32.2s
978:	total: 23m 53s	remaining: 30.8s
979:	total: 23m 55s	remaining: 29.3s
980:	total: 23m 57s	remaining: 27.8s
981:	total: 23m 58s	remaining: 26.4s
982:	total: 23m 59s	remaining: 24.9s
983:	total: 24m 1s	remaining: 23.4s
984:	total: 24m 2s	remaining: 22s
985:	total: 24m 3s	remaining: 20.5s
986:	total: 24m 4s	remaining: 19s
987:	total: 24m 6s	remaining: 17.6s
988:	total: 24m 8s	remaining: 16.1s
989:	total: 24m 9s	remaining: 14.6s
990:	total: 24m 10s	remaining: 13.2s
991:	total: 24m 12s	remaining: 11.7s
992:	total: 24m 14s	remaining: 10.3s
993:	total: 24m 15s	remaining: 8.79s
994:	total: 24m 17s	remaining: 7.32s
995:	total: 24m 19s	remaining: 5.86s
996:	total: 24m 22s	remaining: 4.4s
997:	total: 24m 24s	remaining: 2.94s
998:	total: 24m 27s	remaining: 1.47s
999:	total: 24m 29s	remaining: 0us

In [82]:
df1 = pd.read_csv(test)

In [83]:
dfcb = pd.DataFrame(df1)

In [84]:
for c in categorical:
    dfcb[c] = dfcb[c].astype(str)

In [85]:
x_test = dfcb[columns].values

In [87]:
df1['TARGET'] = clf.predict(x_test)

In [91]:
submit = df1[['SK_ID_CURR','TARGET']]
submit["TARGET"]

0       0.00
1       0.00
2       0.00
3       0.00
4       0.00
5       0.00
6       0.00
7       0.00
8       0.00
9       0.00
10      0.00
11      0.00
12      0.00
13      0.00
14      0.00
15      0.00
16      0.00
17      0.00
18      0.00
19      0.00
20      0.00
21      0.00
22      0.00
23      0.00
24      0.00
25      0.00
26      0.00
27      0.00
28      0.00
29      0.00
        ...
48714   0.00
48715   0.00
48716   0.00
48717   0.00
48718   0.00
48719   0.00
48720   0.00
48721   0.00
48722   0.00
48723   0.00
48724   0.00
48725   0.00
48726   0.00
48727   0.00
48728   0.00
48729   0.00
48730   0.00
48731   0.00
48732   0.00
48733   0.00
48734   0.00
48735   0.00
48736   0.00
48737   0.00
48738   0.00
48739   0.00
48740   0.00
48741   0.00
48742   0.00
48743   0.00
Name: TARGET, Length: 48744, dtype: float64

In [89]:
submit.to_csv("submit123.csv", index=False)