# read From file

In [ ]:
import pandas as pd
import os
import numpy as np

np.set_printoptions(precision=4)

df = pd.read_csv('full.tsv', sep='\t')

# set static values

In [6]:
df['total'] = 0
df['success_rate'] = -1

# top 5 results

In [2]:
df.head(5)

,indexop,indexstart,indexdest,price,sender,mailtype,mailctg,mailmass,status,optimestamp,...,dest_city,dest_timezone,op_area,op_area_id,op_region,op_region_i,op_district_id,op_district,op_city,op_timezone
0,629380,109117,629384,4980,6510313,3,4,326,0,2018-05-11 16:03:35,...,РАТТА,5.0,КРАСНОСЕЛЬКУПСКИЙ РАЙОН,1318.0,ЯМАЛО-НЕНЕЦКИЙ АВТОНОМНЫЙ ОКРУГ,16.0,8.0,УРАЛЬСКИЙ ФО,КРАСНОСЕЛЬКУП,5.0
1,629384,140961,629384,4659,1203,47,4,590,1,2018-05-15 19:35:04,...,РАТТА,5.0,КРАСНОСЕЛЬКУПСКИЙ РАЙОН,1318.0,ЯМАЛО-НЕНЕЦКИЙ АВТОНОМНЫЙ ОКРУГ,16.0,8.0,УРАЛЬСКИЙ ФО,РАТТА,5.0
2,629380,115742,629384,7300,298925,47,4,746,0,2019-04-29 15:13:23,...,РАТТА,5.0,КРАСНОСЕЛЬКУПСКИЙ РАЙОН,1318.0,ЯМАЛО-НЕНЕЦКИЙ АВТОНОМНЫЙ ОКРУГ,16.0,8.0,УРАЛЬСКИЙ ФО,КРАСНОСЕЛЬКУП,5.0
3,629384,127616,629384,3950,169839,16,4,120,0,2016-06-18 09:57:00,...,РАТТА,5.0,КРАСНОСЕЛЬКУПСКИЙ РАЙОН,1318.0,ЯМАЛО-НЕНЕЦКИЙ АВТОНОМНЫЙ ОКРУГ,16.0,8.0,УРАЛЬСКИЙ ФО,РАТТА,5.0
4,629384,140961,629384,4900,0,16,4,210,0,2017-04-15 08:49:00,...,РАТТА,5.0,КРАСНОСЕЛЬКУПСКИЙ РАЙОН,1318.0,ЯМАЛО-НЕНЕЦКИЙ АВТОНОМНЫЙ ОКРУГ,16.0,8.0,УРАЛЬСКИЙ ФО,РАТТА,5.0

# columns

In [7]:
df.columns

Index(['indexop', 'indexstart', 'indexdest', 'price', 'sender', 'mailtype',
       'mailctg', 'mailmass', 'status', 'optimestamp', 'traveltime',
       'decisiontime', 'sourcerowid', 'mailrank', 'sendctgid', 'postmark',
       'people_id', 'gender', 'start_area', 'start_area_id', 'start_region',
       'start_region_id', 'start_district_id', 'start_district', 'start_city',
       'start_timezone', 'dest_area', 'dest_area_id', 'dest_region',
       'dest_region_id', 'dest_district_id', 'dest_district', 'dest_city',
       'dest_timezone', 'op_area', 'op_area_id', 'op_region', 'op_region_i',
       'op_district_id', 'op_district', 'op_city', 'op_timezone', 'total',
       'success_rate'],
      dtype='object')

# Z is dataFrame with need values

In [1]:
z = df[['status','sourcerowid', 'people_id','indexop', 'indexstart', 'indexdest', 'price', 'mailtype',
       'mailctg', 'mailmass', 'optimestamp',
       'decisiontime', 'mailrank', 'sendctgid', 'postmark',
        'gender', 'start_area_id',
       'start_region_id', 'start_district_id',
       'start_timezone', 'dest_area_id',
       'dest_region_id', 'dest_district_id', 'op_region_i',
       'op_district_id', 'op_timezone', 'total',
       'success_rate']]
# z.corr().style.background_gradient(cmap='coolwarm').set_precision(2)

NameError: name 'df' is not defined

# correleition cofficent

In [5]:
z.corr().style.background_gradient(cmap='coolwarm').set_precision(2)

# data to second and in int64

In [10]:
z['optimestamp'] = pd.to_datetime(z['optimestamp']).astype('int64')

/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

# deleting df because to free up RAM(ОЗУ)

In [12]:
del df

# Sorting values by sourcerowid

In [15]:
z = z.sort_values(by=['sourcerowid'])

/Users/nazhmeddinbabakhanov/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

# all sourcerowid is smallerthan 1315349602

In [ ]:
z = z.sort_values(by=['sourcerowid'])[z.sourcerowid < 1315349602]

# Sorting values by 2 columns  'people_id', 'optimestamp'

In [13]:
z = z.sort_values(['people_id', 'optimestamp'], ascending=[True, True])

# Check result

In [14]:
z[:4]

,status,sourcerowid,people_id,indexop,indexstart,indexdest,price,mailtype,mailctg,mailmass,...,start_district_id,start_timezone,dest_area_id,dest_region_id,dest_district_id,op_region_i,op_district_id,op_timezone,total,success_rate
967952,1,944502339,1,694500,443096,694500,1998,16,4,1280,...,3.0,4.0,1751.0,8.0,2.0,8.0,2.0,11.0,0,-1
968003,0,852097698,1,694500,190847,694500,6167,4,4,1100,...,4.0,3.0,1751.0,8.0,2.0,8.0,2.0,11.0,0,-1
967954,1,694196513,1,694500,111537,694500,4221,4,4,5420,...,9.0,3.0,1751.0,8.0,2.0,8.0,2.0,11.0,0,-1
967992,1,824189587,1,694500,170972,694500,11069,4,4,2389,...,9.0,3.0,1751.0,8.0,2.0,8.0,2.0,11.0,0,-1

# calculate total(How many) and success_rate(done/total)

In [15]:
a = {"people_id": 1, "status": 1}
done = 0
total = 0
for index,row in z.iterrows():
    if index%1000000 == 0: 
        print(index)
    if a['people_id'] == row['people_id']:
        if (row['status'] == 1):
            done += 1
        total += 1
        if (total > 0):
            z.at[index, 'total'] = total
            z.at[index, 'success_rate'] = done / total * 100   
    else:
        done = 0
        total = 0
        a = row

0
1000000
2000000
3000000
4000000
5000000
6000000
7000000
8000000
9000000

# Checking

In [16]:
z[:4]

,status,sourcerowid,people_id,indexop,indexstart,indexdest,price,mailtype,mailctg,mailmass,...,start_district_id,start_timezone,dest_area_id,dest_region_id,dest_district_id,op_region_i,op_district_id,op_timezone,total,success_rate
967952,1,944502339,1,694500,443096,694500,1998,16,4,1280,...,3.0,4.0,1751.0,8.0,2.0,8.0,2.0,11.0,1,100
968003,0,852097698,1,694500,190847,694500,6167,4,4,1100,...,4.0,3.0,1751.0,8.0,2.0,8.0,2.0,11.0,2,50
967954,1,694196513,1,694500,111537,694500,4221,4,4,5420,...,9.0,3.0,1751.0,8.0,2.0,8.0,2.0,11.0,3,66
967992,1,824189587,1,694500,170972,694500,11069,4,4,2389,...,9.0,3.0,1751.0,8.0,2.0,8.0,2.0,11.0,4,75

# Label encoder for gender

In [17]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit([-1,'M','F'])

LabelEncoder()

In [18]:
z["gender"] = le.transform(z.gender)

# Checking

In [ ]:
z.gender.unique()

In [ ]:
z.drop(z.columns[0], axis=1, inplace=True)

In [ ]:
z.drop(z.columns[1], axis=1, inplace=True)

In [ ]:
# z["optimestamp"] = pd.to_datetime(z["optimestamp"])

In [ ]:
# z["month"] = z["optimestamp"].apply(lambda x: int(str(x).split("-")[1]))

In [ ]:
# z["day"] = z["optimestamp"].apply(lambda x: int(str(x).replace(" ","-").split("-")[2]))

In [ ]:
# z.drop(z.columns[8], axis=1, inplace=True)

In [ ]:
# z.drop(["month", "days", "day"], axis=1, inplace=True)

In [19]:
z.to_csv("10mlnsourcerowid.csv")
# j = 0 
# for id in x:
#     rows = z.loc[z['people_id'] == id]
#     total = 0
#     done = 0
#     if(j%100000==0):
#         print(j)
#     for index, row in rows.iterrows():
#         j = j + 1
#         if (total > 0):
# #             print(z[['people_id','total']].groupby('people_id').sum()
#             z.at[index, 'total'] = total
#             z.at[index, 'success_rate'] = done / total * 100        
#         if (row['status'] == 1):
#             done += 1
#         total += 1